<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/10_Malumotlar_ombori_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Malumotlar ombori**

In [94]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [95]:
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

--2026-01-06 10:49:25--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 172.67.172.250, 104.21.30.141, 2606:4700:3037::ac43:acfa, ...
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|172.67.172.250|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip.6’

chinook.zip.6       100%[===================>] 298.43K  --.-KB/s    in 0.03s

2026-01-06 10:49:25 (9.05 MB/s) - ‘chinook.zip.6’ saved [305596/305596]

In [96]:
!unzip -o chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

In [97]:
db = sql.connect("chinook.db")
cursor = db.cursor()

In [98]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [99]:
cursor.execute("SELECT COUNT (*) FROM employees")
cursor.fetchone()

(8,)

In [100]:
cursor.execute("PRAGMA table_info(employees);")
cursor.fetchall()
# Qatorlar sonini va turini bilish

[(0, 'EmployeeId', 'INTEGER', 1, None, 1),
 (1, 'LastName', 'NVARCHAR(20)', 1, None, 0),
 (2, 'FirstName', 'NVARCHAR(20)', 1, None, 0),
 (3, 'Title', 'NVARCHAR(30)', 0, None, 0),
 (4, 'ReportsTo', 'INTEGER', 0, None, 0),
 (5, 'BirthDate', 'DATETIME', 0, None, 0),
 (6, 'HireDate', 'DATETIME', 0, None, 0),
 (7, 'Address', 'NVARCHAR(70)', 0, None, 0),
 (8, 'City', 'NVARCHAR(40)', 0, None, 0),
 (9, 'State', 'NVARCHAR(40)', 0, None, 0),
 (10, 'Country', 'NVARCHAR(40)', 0, None, 0),
 (11, 'PostalCode', 'NVARCHAR(10)', 0, None, 0),
 (12, 'Phone', 'NVARCHAR(24)', 0, None, 0),
 (13, 'Fax', 'NVARCHAR(24)', 0, None, 0),
 (14, 'Email', 'NVARCHAR(60)', 0, None, 0)]

In [101]:
cursor.execute("PRAGMA table_info(tracks);")
cursor.fetchall()

[(0, 'TrackId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(200)', 1, None, 0),
 (2, 'AlbumId', 'INTEGER', 0, None, 0),
 (3, 'MediaTypeId', 'INTEGER', 1, None, 0),
 (4, 'GenreId', 'INTEGER', 0, None, 0),
 (5, 'Composer', 'NVARCHAR(220)', 0, None, 0),
 (6, 'Milliseconds', 'INTEGER', 1, None, 0),
 (7, 'Bytes', 'INTEGER', 0, None, 0),
 (8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)]