<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/04_and_05__map()_qiymatlarni_moslash%2C_almashtirish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **.map() - qiymatlarni moslash (almashtirish)**

In [41]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv('https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data_nan.csv', index_col=0)
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0

In [43]:
df['num-of-cylinders'].unique()
# num-of-cylinders ustunidagi noyob qiymatlarni chiqardik

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [44]:
dict = {'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'eight': 8, 'twelve': 12}
# Bu qiymatlarning sondagi qiymatlari ham yozildi dict ga.

In [45]:
df['num-of-cylinders'].map(dict)
# map yani moslashtirish bilan yuqoridagi sonli qiymatlar qo'yildi num-of-cylinders ustuniga.

index
0     4
1     4
2     6
3     4
4     5
     ..
81    4
82    4
86    4
87    4
88    4
Name: num-of-cylinders, Length: 61, dtype: int64

In [46]:
df['cylinders'] = df['num-of-cylinders'].map(dict)
df
# Yangi cylinders ustuniga saqlandi va bu ustun qo'shildi

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0,4
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0,4
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0,6
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0,4
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5
...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0,4
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0,4
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0,4
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0,4
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0,4

In [47]:
df['price']
# Bu yuqoridagi jadvalning price ustuni dollarda.

index
0     13495.0
1     16500.0
2     16500.0
3     13950.0
4     17450.0
       ...
81     7975.0
82     7995.0
86     9995.0
87    12940.0
88    13415.0
Name: price, Length: 61, dtype: float64

In [48]:
kurs = 12000   # 1$ qancha ekanligi aniqlanib saqlandi
df['price_uz'] = df['price'].map(lambda x: x*kurs)
df
# lambda bir martalik nomsiz funksiyadan foydalanib, x ni qabul qilib yani price ustuni qiymatlarini
# kurs o'zgaruvchisiga yani 12000 ga ko'paytirib, so'ngra yangi price_uz ustuniga saqlanib chiqarayabdi.

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0,4,161940000.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0,4,198000000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0,6,198000000.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0,4,167400000.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,209400000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0,4,95700000.0
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0,4,95940000.0
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0,4,119940000.0
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0,4,155280000.0
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0,4,160980000.0

In [61]:
df[['num-of-cylinders','cylinders']]

      num-of-cylinders  cylinders
index
0                 four          4
1                 four          4
2                  six          6
3                 four          4
4                 five          5
...                ...        ...
81                four          4
82                four          4
86                four          4
87                four          4
88                four          4

[61 rows x 2 columns]

`.map()` asosan Series (Pandas DataFrame'dagi bitta ustun) elementlarini birma-bir o'zgartirish uchun ishlatiladi. U ikkita asosiy holatda qo'llanilishi mumkin:

1.  **Lug'at (dictionary) yordamida:** Har bir qiymatni lug'atdagi kalitga qarab mos keladigan qiymatga almashtirish.
2.  **Funksiya yordamida:** Har bir qiymatga biror funksiyani (masalan, `lambda` funksiyasi) qo'llash.

### Notebookdagi misollar:

**1. Lug'at yordamida `num-of-cylinders` ustunini o'zgartirish:**

Siz `num-of-cylinders` ustunidagi 'four', 'six' kabi matnli qiymatlarni ularning sonli ekvivalentlariga o'zgartirdingiz. Buning uchun `dict` nomli lug'at yaratildi va keyin `map()` metodi bu lug'atni `num-of-cylinders` ustuniga qo'lladi.

```python
dict = {'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'eight': 8, 'twelve': 12}
df['cylinders'] = df['num-of-cylinders'].map(dict)
```

Bu kod `num-of-cylinders` ustunidagi har bir matnli qiymatni `dict` lug'atida mos keluvchi sonli qiymatga almashtirib, yangi `cylinders` ustunini yaratdi.

**2. `lambda` funksiyasi yordamida `price` ustunini o'zgartirish:**

Siz `price` ustunidagi dollar qiymatlarini o'zbek so'miga o'tkazish uchun `lambda` funksiyasidan foydalandingiz. `lambda` funksiyasi har bir `price` qiymatini `kurs` (12000) ga ko'paytirdi va natijalarni `price_uz` yangi ustuniga joylashtirdi.

```python
kurs = 12000
df['price_uz'] = df['price'].map(lambda x: x * kurs)
```

Bu kod `price` ustunidagi har bir qiymatni olib, uni `kurs` o'zgaruvchisiga ko'paytirdi va natijani `price_uz` ustuniga saqladi.

# **05-dars**
# **.replace() va .rename() - qiymatlarni almashtirish**

In [49]:
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0,4,161940000.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0,4,198000000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0,6,198000000.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0,4,167400000.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,209400000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0,4,95700000.0
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0,4,95940000.0
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0,4,119940000.0
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0,4,155280000.0
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0,4,160980000.0

In [50]:
df.replace('six',6)
# Bu bilan num-of-cylinders ustunidagi six bo'lgan qatorlarni 6 soni bilan almashtirildi.

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0,4,161940000.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0,4,198000000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154.0,NaN,16500.0,6,198000000.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0,4,167400000.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,209400000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0,4,95700000.0
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0,4,95940000.0
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0,4,119940000.0
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0,4,155280000.0
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0,4,160980000.0

In [59]:
df.replace({'four':4, 'six':6})

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,4,NaN,21.0,13495.0,4,161940000.0
1,alfa-romero,convertible,NaN,168.8,dohc,4,111.0,21.0,16500.0,4,198000000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154.0,NaN,16500.0,6,198000000.0
3,audi,sedan,99.8,176.6,ohc,4,102.0,24.0,13950.0,4,167400000.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,209400000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,4,85.0,27.0,7975.0,4,95700000.0
82,volkswagen,sedan,NaN,171.7,NaN,4,52.0,37.0,7995.0,4,95940000.0
86,volkswagen,sedan,97.3,NaN,ohc,4,100.0,NaN,9995.0,4,119940000.0
87,volvo,sedan,104.3,188.8,NaN,4,114.0,23.0,12940.0,4,155280000.0
88,volvo,wagon,104.3,188.8,ohc,4,NaN,23.0,13415.0,4,160980000.0

In [60]:
df.replace(['four','six'],[4,6])

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,4,NaN,21.0,13495.0,4,161940000.0
1,alfa-romero,convertible,NaN,168.8,dohc,4,111.0,21.0,16500.0,4,198000000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154.0,NaN,16500.0,6,198000000.0
3,audi,sedan,99.8,176.6,ohc,4,102.0,24.0,13950.0,4,167400000.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,209400000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,4,85.0,27.0,7975.0,4,95700000.0
82,volkswagen,sedan,NaN,171.7,NaN,4,52.0,37.0,7995.0,4,95940000.0
86,volkswagen,sedan,97.3,NaN,ohc,4,100.0,NaN,9995.0,4,119940000.0
87,volvo,sedan,104.3,188.8,NaN,4,114.0,23.0,12940.0,4,155280000.0
88,volvo,wagon,104.3,188.8,ohc,4,NaN,23.0,13415.0,4,160980000.0

In [51]:
dict = {'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'eight': 8, 'twelve': 12}

In [52]:
df.replace(dict)
# bu bilan hammasini bitada almashtirdik

/tmp/ipython-input-4210373627.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(dict)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,4,NaN,21.0,13495.0,4,161940000.0
1,alfa-romero,convertible,NaN,168.8,dohc,4,111.0,21.0,16500.0,4,198000000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154.0,NaN,16500.0,6,198000000.0
3,audi,sedan,99.8,176.6,ohc,4,102.0,24.0,13950.0,4,167400000.0
4,audi,sedan,99.4,176.6,ohc,5,NaN,NaN,17450.0,5,209400000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,4,85.0,27.0,7975.0,4,95700000.0
82,volkswagen,sedan,NaN,171.7,NaN,4,52.0,37.0,7995.0,4,95940000.0
86,volkswagen,sedan,97.3,NaN,ohc,4,100.0,NaN,9995.0,4,119940000.0
87,volvo,sedan,104.3,188.8,NaN,4,114.0,23.0,12940.0,4,155280000.0
88,volvo,wagon,104.3,188.8,ohc,4,NaN,23.0,13415.0,4,160980000.0

In [53]:
df2 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', index_col='country')
df2

                  rank     density   densityMi    pop2021     area
country
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
Burundi             28    440.3044   1140.3884  12255.433    27834
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
Namibia            228      3.1338      8.1166   2587.344   825615
Western Sahara     229      2.3003      5.9577    611.875   266000
Mongolia           230      2.1286      5.5129   3329.289  1564110
Falkland Islands   231      0.2902      0.7517      3.533    12173
Greenland          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [54]:
df2.rename(index=str.upper)
# Bu bilan index o'rnida turgan country ustunini yani str ing bo'lgani uchun str deb belgilab upper yordamida rename ichida
# katta harflarda yozish mumkin

                  rank     density   densityMi    pop2021     area
country
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
BURUNDI             28    440.3044   1140.3884  12255.433    27834
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
NAMIBIA            228      3.1338      8.1166   2587.344   825615
WESTERN SAHARA     229      2.3003      5.9577    611.875   266000
MONGOLIA           230      2.1286      5.5129   3329.289  1564110
FALKLAND ISLANDS   231      0.2902      0.7517      3.533    12173
GREENLAND          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [55]:
df2.rename(index=str.upper, columns=str.upper)
# Ham country ustunlari ham columns deb belgilab ustun nomlari katta harflarda yozildi.

                  RANK     DENSITY   DENSITYMI    POP2021     AREA
country
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
BURUNDI             28    440.3044   1140.3884  12255.433    27834
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
NAMIBIA            228      3.1338      8.1166   2587.344   825615
WESTERN SAHARA     229      2.3003      5.9577    611.875   266000
MONGOLIA           230      2.1286      5.5129   3329.289  1564110
FALKLAND ISLANDS   231      0.2902      0.7517      3.533    12173
GREENLAND          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [56]:
df2

                  rank     density   densityMi    pop2021     area
country
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
Burundi             28    440.3044   1140.3884  12255.433    27834
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
Namibia            228      3.1338      8.1166   2587.344   825615
Western Sahara     229      2.3003      5.9577    611.875   266000
Mongolia           230      2.1286      5.5129   3329.289  1564110
Falkland Islands   231      0.2902      0.7517      3.533    12173
Greenland          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [57]:
df2.rename(columns={"pop2021":"population"}, index={"Macau":"Makao_change"}, inplace=True)
# rename bilan pop2021 ustuni population ustuniga o'zgartirildi,
# hamda index o'rnida turgan country ustunining Macau davlat qatori Makao_change ga o'zgartirildi
# va inplace=True bilan asl jadvalga ham saqlandi

In [58]:
df2

                  rank     density   densityMi  population     area
country
Makao_change         1  21946.4667  56841.3487     658.394       30
Monaco               2  19755.5000  51166.7450      39.511        2
Burundi             28    440.3044   1140.3884   12255.433    27834
Makao_change         1  21946.4667  56841.3487     658.394       30
Monaco               2  19755.5000  51166.7450      39.511        2
...                ...         ...         ...         ...      ...
Namibia            228      3.1338      8.1166    2587.344   825615
Western Sahara     229      2.3003      5.9577     611.875   266000
Mongolia           230      2.1286      5.5129    3329.289  1564110
Falkland Islands   231      0.2902      0.7517       3.533    12173
Greenland          232      0.0263      0.0680      56.877  2166086

[247 rows x 5 columns]