![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 3-MODUL. MA’LUMOTLARGA ISHLOV BERISH

### 3.1 Fayllar bilan ishlash

### Web fayllar bilan ishlash
#### `read_html()` - web sahifadagi barcha jadvallarni o'qib, `DataFrame1lardan iborat ro'yxat ko'rinishida qaytaradi.

In [16]:
import pandas as pd
import numpy as np
import requests

In [ ]:
url = "https://en.wikipedia.org/wiki/Tashkent"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
response = requests.get(url, headers=headers)
data = pd.read_html(response.text)

`data` tarkibida sahifadagi barcha jadvallar alohida `DataFrame` ko'rinishida saqlangan. Jadvallar sonini ko'rish uchun `len()` funksiyasiga murojaat qilamiz.

In [23]:
len(data)

17

Yuqoridagi data tarkibida 16 ta DataFrame bor ekan. Alohida DataFramelarga indeks orqali murojaat qilishimiz mumkin.
Ba'zida kerakli jadvlani topguncha bir necha indekslarni qarab chiqish talab qilinishi mumkin.

In [24]:
data[5]

   Climate data for Tashkent (1991–2020, extremes 1867–present)  \
                                                          Month
0                                 Record high °C (°F)
1                          Mean daily maximum °C (°F)
2                                  Daily mean °C (°F)
3                          Mean daily minimum °C (°F)
4                                  Record low °C (°F)
5                   Average precipitation mm (inches)
6              Average extreme snow depth cm (inches)
7               Average precipitation days (≥ 1.0 mm)
8                                  Average rainy days
9                                  Average snowy days
10                      Average relative humidity (%)
11                        Mean monthly sunshine hours
12                        Source 1: Pogoda.ru.net[63]
13                                 Source 2: NOAA[64]

                                                              \
                            Jan                          Feb
0                   22.6 (72.7)                  27.0 (80.6)
1                    7.2 (45.0)                   9.5 (49.1)
2                    2.3 (36.1)                   4.2 (39.6)
3                   −1.3 (29.7)                   0.1 (32.2)
4                     −28 (−18)                −25.6 (−14.1)
5                   54.9 (2.16)                  72.1 (2.84)
6                       3 (1.2)                      2 (0.8)
7                            14                           14
8                            14                           13
9                             9                            7
10                           73                           68
11                        104.7                        119.4
12  Source 1: Pogoda.ru.net[63]  Source 1: Pogoda.ru.net[63]
13           Source 2: NOAA[64]           Source 2: NOAA[64]

                                                              \
                            Mar                          Apr
0                   32.5 (90.5)                  36.6 (97.9)
1                   16.0 (60.8)                  22.3 (72.1)
2                   10.2 (50.4)                  15.9 (60.6)
3                    5.3 (41.5)                  10.1 (50.2)
4                   −16.9 (1.6)                  −6.3 (20.7)
5                   66.4 (2.61)                  63.3 (2.49)
6                         0 (0)                        0 (0)
7                            14                           13
8                            14                           12
9                             2                            0
10                           61                           60
11                        169.2                        222.7
12  Source 1: Pogoda.ru.net[63]  Source 1: Pogoda.ru.net[63]
13           Source 2: NOAA[64]           Source 2: NOAA[64]

                                                              \
                            May                          Jun
0                  39.9 (103.8)                 43.0 (109.4)
1                   28.0 (82.4)                  33.6 (92.5)
2                   21.1 (70.0)                  26.2 (79.2)
3                   14.3 (57.7)                  18.4 (65.1)
4                   −1.7 (28.9)                   3.8 (38.8)
5                   41.1 (1.62)                  16.8 (0.66)
6                         0 (0)                        0 (0)
7                            11                            8
8                            11                            7
9                             0                            0
10                           53                           40
11                        303.0                        352.8
12  Source 1: Pogoda.ru.net[63]  Source 1: Pogoda.ru.net[63]
13           Source 2: NOAA[64]           Source 2: NOAA[64]

                                                              \
                            Jul                          Aug
0                  44.6 (112.3)                 43.1 (109.6)
1                   35.9 (96.6)                  34.9 (94.8)
2                   28.3 (82.9)                  26.6 (79.9)
3                   20.1 (68.2)                  18.4 (65.1)
4                    8.2 (46.8)                   5.7 (42.3)
5                    3.4 (0.13)                   2.1 (0.08)
6                         0 (0)                        0 (0)
7                             4                            3
8                             4                            3
9                             0                            0
10                           39                           42
11                        386.5                        353.4
12  Source 1: Pogoda.ru.net[63]  Source 1: Pogoda.ru.net[63]
13           Source 2: NOAA[64]           Source 2: NOAA[64]

                                                              \
                            Sep                          Oct
0                  40.0 (104.0)                  37.5 (99.5)
1                   29.5 (85.1)                  22.2 (72.0)
2                   21.0 (69.8)                  14.4 (57.9)
3                   13.4 (56.1)                   8.3 (46.9)
4                    0.1 (32.2)                 −11.2 (11.8)
5                    4.6 (0.18)                  23.7 (0.93)
6                         0 (0)                        0 (0)
7                             4                            8
8                             3                            7
9                             0                            1
10                           45                           57
11                        283.8                        220.4
12  Source 1: Pogoda.ru.net[63]  Source 1: Pogoda.ru.net[63]
13           Source 2: NOAA[64]           Source 2: NOAA[64]

                                                              \
                            Nov                          Dec
0                   31.6 (88.9)                  27.3 (81.1)
1                   14.1 (57.4)                   8.6 (47.5)
2                    8.1 (46.6)                   3.5 (38.3)
3                    3.6 (38.5)                  −0.1 (31.8)
4                  −22.1 (−7.8)                −29.5 (−21.1)
5                   51.2 (2.02)                  58.4 (2.30)
6                         0 (0)                      2 (0.8)
7                            11                           13
8                            10                           12
9                             2                            6
10                           66                           73
11                        135.0                        104.7
12  Source 1: Pogoda.ru.net[63]  Source 1: Pogoda.ru.net[63]
13           Source 2: NOAA[64]           Source 2: NOAA[64]


                           Year
0                  44.6 (112.3)
1                   21.8 (71.3)
2                   15.2 (59.3)
3                    9.2 (48.6)
4                 −29.5 (−21.1)
5                 458.0 (18.03)
6                       3 (1.2)
7                           117
8                           110
9                            27
10                           56
11                       2755.6
12  Source 1: Pogoda.ru.net[63]
13           Source 2: NOAA[64]

In [25]:
data[7]

    Year     Pop. ±% p.a.
0   1897   155673       —
1   1959   911930  +2.89%
2   1970  1384509  +3.87%
3   1979  1780002  +2.83%
4   1983  1902000  +1.67%
5   1989  2072459  +1.44%
6   1991  2130200  +1.38%
7   1995  2097400  −0.39%
8   2000  2142300  +0.42%
9   2001  2137900  −0.21%
10  2002  2136600  −0.06%
11  2003  2139200  +0.12%
12  2004  2135400  −0.18%
13  2005  2135700  +0.01%
14  2006  2140600  +0.23%

### JSON format

JSON web orqali ma'lumotlarni uzatishda ishlatiluvchi eng mashhur formatlardan. JSON haqida Dasturlash Asoslari darsimizda batafsil ma'lumot berilgan: https://python.sariq.dev/files-exceptions/34-json

In [57]:
url = "http://api.nobelprize.org/v1/laureate.json"
r = requests.get(url)
data = r.json()
df_laureates = pd.DataFrame(data['laureates'])
display(df_laureates)

,id,firstname,surname,born,died,bornCountry,bornCountryCode,bornCity,diedCountry,diedCountryCode,diedCity,gender,prizes
0,1,Wilhelm Conrad,Röntgen,1845-03-27,1923-02-10,Prussia (now Germany),DE,Lennep (now Remscheid),Germany,DE,Munich,male,"[{'year': '1901', 'category': 'physics', 'shar..."
1,2,Hendrik A.,Lorentz,1853-07-18,1928-02-04,the Netherlands,NL,Arnhem,the Netherlands,NL,NaN,male,"[{'year': '1902', 'category': 'physics', 'shar..."
2,3,Pieter,Zeeman,1865-05-25,1943-10-09,the Netherlands,NL,Zonnemaire,the Netherlands,NL,Amsterdam,male,"[{'year': '1902', 'category': 'physics', 'shar..."
3,4,Henri,Becquerel,1852-12-15,1908-08-25,France,FR,Paris,France,FR,NaN,male,"[{'year': '1903', 'category': 'physics', 'shar..."
4,5,Pierre,Curie,1859-05-15,1906-04-19,France,FR,Paris,France,FR,Paris,male,"[{'year': '1903', 'category': 'physics', 'shar..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,1056,László,Krasznahorkai,1954-01-05,0000-00-00,Hungary,HU,Gyula,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'literature', 's..."
1014,1057,Maria Corina,Machado,1967-00-00,0000-00-00,Venezuela,VE,NaN,NaN,NaN,NaN,female,"[{'year': '2025', 'category': 'peace', 'share'..."
1015,1058,Joel,Mokyr,1946-07-26,0000-00-00,the Netherlands,NL,Leiden,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'economics', 'ov..."
1016,1059,Philippe,Aghion,1956-08-17,0000-00-00,France,FR,Paris,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'economics', 'ov..."
1017,1060,Peter,Howitt,1946-05-31,0000-00-00,Canada,CA,NaN,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'economics', 'ov..."

In [58]:
import requests, json
r = requests.get('http://api.nobelprize.org/v1/laureate.json')
data = r.json()
pd.DataFrame(data['laureates'])

,id,firstname,surname,born,died,bornCountry,bornCountryCode,bornCity,diedCountry,diedCountryCode,diedCity,gender,prizes
0,1,Wilhelm Conrad,Röntgen,1845-03-27,1923-02-10,Prussia (now Germany),DE,Lennep (now Remscheid),Germany,DE,Munich,male,"[{'year': '1901', 'category': 'physics', 'shar..."
1,2,Hendrik A.,Lorentz,1853-07-18,1928-02-04,the Netherlands,NL,Arnhem,the Netherlands,NL,NaN,male,"[{'year': '1902', 'category': 'physics', 'shar..."
2,3,Pieter,Zeeman,1865-05-25,1943-10-09,the Netherlands,NL,Zonnemaire,the Netherlands,NL,Amsterdam,male,"[{'year': '1902', 'category': 'physics', 'shar..."
3,4,Henri,Becquerel,1852-12-15,1908-08-25,France,FR,Paris,France,FR,NaN,male,"[{'year': '1903', 'category': 'physics', 'shar..."
4,5,Pierre,Curie,1859-05-15,1906-04-19,France,FR,Paris,France,FR,Paris,male,"[{'year': '1903', 'category': 'physics', 'shar..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,1056,László,Krasznahorkai,1954-01-05,0000-00-00,Hungary,HU,Gyula,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'literature', 's..."
1014,1057,Maria Corina,Machado,1967-00-00,0000-00-00,Venezuela,VE,NaN,NaN,NaN,NaN,female,"[{'year': '2025', 'category': 'peace', 'share'..."
1015,1058,Joel,Mokyr,1946-07-26,0000-00-00,the Netherlands,NL,Leiden,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'economics', 'ov..."
1016,1059,Philippe,Aghion,1956-08-17,0000-00-00,France,FR,Paris,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'economics', 'ov..."
1017,1060,Peter,Howitt,1946-05-31,0000-00-00,Canada,CA,NaN,NaN,NaN,NaN,male,"[{'year': '2025', 'category': 'economics', 'ov..."

### Web API
API haqida tushuncha hosil qilish uchun quyidagi 2 videoni ko'rishni tavsiya qilaman:
- https://youtu.be/eID-mIzjb-E
- https://youtu.be/QoKcBFLd2aE

In [59]:
r = requests.get("https://openlibrary.org/subjects/python.json?published_in=2015-2021")
pd.DataFrame(r.json()['works'])

,key,title,edition_count,cover_id,cover_edition_key,subject,ia_collection,printdisabled,lending_edition,lending_identifier,authors,first_publish_year,ia,public_scan,has_fulltext,availability
0,/works/OL2784125W,Learning Python,22,1312568.0,OL9497269M,"[Python (Langage de programmation), Python (li...","[americana, inlibrary, internetarchivebooks, p...",True,OL37873566M,einfuhrunginpyth0000lutz,"[{'key': '/authors/OL411267A', 'name': 'Mark L...",1999,einfuhrunginpyth0000lutz,False,True,"{'status': 'borrow_available', 'available_to_b..."
1,/works/OL16976951W,Think Python,11,7363360.0,OL25763659M,"[Computer programming, Software architecture, ...","[additional_collections, folkscanomy, folkscan...",True,OL26455778M,2015ThinkPython,"[{'key': '/authors/OL6815485A', 'name': 'Allen...",2009,2015ThinkPython,True,True,"{'status': 'open', 'available_to_browse': Fals..."
2,/works/OL21349037W,Introduction to Python for Science and Enginee...,10,NaN,None,"[Python (computer program language), Engineeri...",[],False,,,"[{'key': '/authors/OL4194836A', 'name': 'David...",2018,None,False,False,NaN
3,/works/OL17795703W,Python for bioinformatics,10,8078288.0,OL26385029M,"[Bioinformatics, Python (computer program lang...",[],False,,,"[{'key': '/authors/OL3871440A', 'name': 'Sebas...",2009,None,False,False,NaN
4,/works/OL15667639W,Mining the Social Web,9,9721114.0,OL24598391M,"[Social networking, Online social networks, Ar...","[inlibrary, internetarchivebooks, printdisabled]",True,OL26838560M,miningsocialwebd0000russ,"[{'key': '/authors/OL6887918A', 'name': 'Matth...",2011,miningsocialwebd0000russ,False,True,"{'status': 'borrow_available', 'available_to_b..."
5,/works/OL15664278W,Head First Python,9,6681113.0,OL24596470M,"[Programming languages (electronic computers),...","[inlibrary, internetarchivebooks, popularchine...",True,OL35343633M,headfirstpythonz0000paul,"[{'key': '/authors/OL6867889A', 'name': 'Paul ...",2010,headfirstpythonz0000paul,False,True,"{'status': 'borrow_available', 'available_to_b..."
6,/works/OL17422847W,Python For Data Analysis,8,7548132.0,None,"[Programming languages (Electronic computers),...",[],False,,,"[{'key': '/authors/OL7309633A', 'name': 'Wes M...",2012,pythonfordataana00mcki,False,False,"{'status': 'error', 'error_message': 'not foun..."
7,/works/OL6045694W,Python in a Nutshell,8,389166.0,OL7581267M,"[Python (Computer program language), Python (p...","[inlibrary, internetarchivebooks, printdisabled]",True,OL26836451M,pythoninnutshell0000mart_a1w4,"[{'key': '/authors/OL1521655A', 'name': 'Alex ...",2002,pythoninnutshell0000mart_a1w4,False,True,"{'status': 'borrow_available', 'available_to_b..."
8,/works/OL23330617W,Making music with computers,7,NaN,None,"[Computer composition, Python (Computer progra...",[],False,,,"[{'key': '/authors/OL3853673A', 'name': 'Bill ...",2013,None,False,False,NaN
9,/works/OL19932156W,Fluent Python,6,8743408.0,OL27112900M,"[Python (Computer program language), Computer ...","[binghamton-ol, cua-ol, inlibrary, internetarc...",True,OL27112900M,fluentpython0000rama,"[{'key': '/authors/OL7584543A', 'name': 'Lucia...",2015,fluentpython0000rama,False,True,"{'status': 'borrow_available', 'available_to_b..."
10,/works/OL21703042W,Tour of Data Science,6,NaN,None,"[Data mining, R (Computer program language), P...",[],False,,,"[{'key': '/authors/OL8302653A', 'name': 'Nailo...",2020,None,False,False,NaN
11,/works/OL14940051W,Natural Language Processing With Python,6,6296394.0,OL23978297M,"[Python (Computer program language), Natural l...",[],False,,,"[{'key': '/authors/OL6770736A', 'name': 'Edwar...",2009,None,False,False,NaN