<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/06_07_Ma'lumotlar_to'plamini_(sql_uslubida)_uyg'unlashtirish__merge()%2C_join().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ma'lumotlar to'plamini (sql_uslubida) uyg'unlashtirish .merge(), .join()**

# **Pandasda Ma'lumotlarni birlashtirish**

## Merging

## Joining

## Concatenating

## Appending

In [232]:
import pandas as pd
import numpy as np

In [233]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git
# bu kaggle orqali olindi

fatal: destination path 'Practicum_Datasets' already exists and is not an empty directory.

In [234]:
movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')
movies
# chap tomondagi fayldan IMDB folderi ichidahi ikkita fayl ham copy path bilan yuklab olindi

/tmp/ipython-input-2089955081.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",Monkey Pack Films,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,NaN
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers",Johan Nijenhuis & Co,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,NaN
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",RMCC Productions,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",NaN

In [235]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   imdb_title_id       85855 non-null  object
 1   title               85855 non-null  object
 2   original_title      85855 non-null  object
 3   year                85855 non-null  object
 4   date_published      85855 non-null  object
 5   genre               85855 non-null  object
 6   duration            85855 non-null  int64
 7   country             85791 non-null  object
 8   language            84954 non-null  object
 9   director            85768 non-null  object
 10  writer              84283 non-null  object
 11  production_company  81400 non-null  object
 12  actors              85786 non-null  object
 13  description         83740 non-null  object
 14  budget              23710 non-null  object
dtypes: int64(1), object(14)
memory usage: 9.8+ MB

In [236]:
ratings = pd.read_csv("/content/Practicum_Datasets/IMDb/IMDb_ratings.csv")
ratings
# weighted_average_vote ustuni yuqoridagi kinoga nisbatan 0 dan 10 gacha baholash tizimi hisoblanadi

      imdb_title_id  weighted_average_vote  total_votes
0         tt0000009                    5.9          154
1         tt0000574                    6.1          589
2         tt0001892                    5.8          188
3         tt0002101                    5.2          446
4         tt0002130                    7.0         2237
...             ...                    ...          ...
85850     tt9908390                    5.3          398
85851     tt9911196                    7.7          724
85852     tt9911774                    7.9          265
85853     tt9914286                    6.4          194
85854     tt9914942                    6.7          102

[85855 rows x 3 columns]

In [237]:
ratings.describe()
# bundan hulosa qilish mumkinki maxsimum kino 9.9 ball olgan ekan

       weighted_average_vote   total_votes
count           85855.000000  8.585500e+04
mean                5.898656  9.493490e+03
std                 1.234987  5.357436e+04
min                 1.000000  9.900000e+01
25%                 5.200000  2.050000e+02
50%                 6.100000  4.840000e+02
75%                 6.800000  1.766500e+03
max                 9.900000  2.278845e+06

In [238]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   weighted_average_vote  85855 non-null  float64
 2   total_votes            85855 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.0+ MB

## Merging

## ***Savol:***

title, year, weighted_average_vote ustunlarini bitta alohida jadvalda chop etish kerak yani ularni ajratib olish kerak?

## ***javob:***

Dastlab merge bilan har ikkala jadvalni birlashtirib keyin kerakli ustunlarni chop etish mumkin pastda huddi shu metodlardan foydalanildi.
Birlashtirishning sababi bu ustunlar ikkta jadvalda ajralgan holda joylashgan.

In [239]:
movies.head(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250

In [240]:
movies.shape

(85855, 15)

In [241]:
ratings.shape

(85855, 3)

In [242]:
ratings.head()

  imdb_title_id  weighted_average_vote  total_votes
0     tt0000009                    5.9          154
1     tt0000574                    6.1          589
2     tt0001892                    5.8          188
3     tt0002101                    5.2          446
4     tt0002130                    7.0         2237

# Etibor bersak yuqoridagi ikkta jadvalning umumiy hususiyati yani birlashtirib turadigan jihati imdb_title_id ustuni hisoblanadi. Yani bu ustun har ikkisida ham bor.

In [243]:
movies_ratings = pd.merge(movies, ratings)
movies_ratings.head()
# Bunda merge orqali ikkalasini birlashtirdik va ratings jadvali movies jadvalining o'ng tomonida joylashdi
# chunki movies ga nisbatan o'ng tomonda yozgan edik. Shuningdek ikkta jadvalda ham bor ustunlar o'ng tomonga
# qo'shilgan yani joylashgan jadvaldan tushib qoladi. Qolgan qatorlari esa bir-biriga muvofiq ravishda moslashadi.

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget,weighted_average_vote,total_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN,5.9,154
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250,6.1,589
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN,5.8,188
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000,5.2,446
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN,7.0,2237

In [244]:
ratings_movies_2 = pd.merge(ratings, movies)
ratings_movies_2.head(2)
# Endi movies va ratings ning joyini almashtirganimiz uchun ratingning imdb_title_id ustuni saqalnib
# moviesda tashlab yuborildi va bular ratings_movies_2 o'zgaruvchisiga saqlandi.

,imdb_title_id,weighted_average_vote,total_votes,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,5.9,154,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,6.1,589,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250

In [245]:
movies_ratings = pd.merge(movies, ratings)
movies_ratings.columns
# Mavjud ustunlar

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'budget',
       'weighted_average_vote', 'total_votes'],
      dtype='object')

In [246]:
movies_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               84954 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  budget                 23710 non-null  object
 15  weighted_average_vote  85855 non-null  float64
 16  total_votes            85855 non-null  int64
dtypes: float64(1), int64(2), object(14)
memory usage: 11.1+ MB

In [247]:
extracted = movies_ratings[['title','year','weighted_average_vote']]
extracted

                                title  year  weighted_average_vote
0                          Miss Jerry  1894                    5.9
1         The Story of the Kelly Gang  1906                    6.1
2                      Den sorte drøm  1911                    5.8
3                           Cleopatra  1912                    5.2
4                           L'Inferno  1911                    7.0
...                               ...   ...                    ...
85850                         Le lion  2020                    5.3
85851  De Beentjes van Sint-Hildegard  2020                    7.7
85852       Padmavyuhathile Abhimanyu  2019                    7.9
85853               Sokagin Çocuklari  2019                    6.4
85854      La vida sense la Sara Amat  2019                    6.7

[85855 rows x 3 columns]

# **07-dars**

# ***Misol asosida ma'lumotlarni to'plamini uyg'unlashtirish***

## Sodda misollar

In [248]:
A = pd.DataFrame({'Transport': ['poezd','avtomabil','kema',],
                  'Tezligi':['70','180','45']})
A

   Transport Tezligi
0      poezd      70
1  avtomabil     180
2       kema      45

In [249]:
B = pd.DataFrame({'Transport': ['poezd','avtomabil','tramvay'],
                  "Narxi":['98000','10000','65000']})
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [250]:
merged = pd.merge( A, B)  # inner join - ichki birlashish degani
merged
# merge da har ikkala jadvalni birlashtirganimizda qo'shimcha argumentlarsiz yani buyruqlarsiz foydalanadigan bo'lsak
# faqat ikkalasida bir xil mavjud bo'lgan qiymatlarnigina chiqaradi holos
# lekin movies_ratings ni birlashtirganimizda bunday bo'lmagan edi sababi bularni bog'lab turuvchi umumiy bitta ustun va qatorlar
# sonigacha bir biriga muozanatlashgan edi.

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000

In [251]:
merged = pd.merge( A, B, how = 'inner')  # bu ham yuqoridagi natijani beradi va ichki birlashish hisoblanadi
merged

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000

In [252]:
merged_outer = pd.merge(A, B, how='outer') # outer join - tashqi
merged_outer
# Bunga qo'shimcha argument tariqasida how='outer' qo'shilgani uchun qolgan qatorlarni ham chiqarib berdi
# etibor bersak kema ning narxi degan ustuni bo'lmagani uchun uning o'rniga NaN qaytaradi qolganlari ham shunday tartibda.

   Transport Tezligi  Narxi
0  avtomabil     180  10000
1       kema      45    NaN
2      poezd      70  98000
3    tramvay     NaN  65000

In [253]:
A

   Transport Tezligi
0      poezd      70
1  avtomabil     180
2       kema      45

In [254]:
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [255]:
merged_left = pd.merge(A, B, how='left')  # left join - chap birlashish
merged_left
# bunda how='left' bilan dastlab ikkalasida bor bo'lgan umumiy xususiyatlar olinadi so'ng faqat chap tomonda joylashgan
# A jadvalining mavjud qiymatlari olinadi.
# umumiylari poezd va avtomabil bo'lsa A jadvalidagi ortiqcha qiymat kema edi va bu qo'shildi.

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000
2       kema      45    NaN

In [256]:
merged_right = pd.merge(A, B, how='right')  # right join - o'ng birlashish
merged_right
# Bunda esa umumiylardan so'ng o'ng tarafdagi B ning qatorlari chiqariladi

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000
2    tramvay     NaN  65000

## merge bilan ikkala jadvalda ham bir xil umumiy jadvallar bo'lgani uchun ham hatosiz chiqmoqda.  
## Agar umumiy ustunlar bo'lmaganda nima bo'lardi buni A jadvalini o'zgartirib tekshirib ko'ramiz

In [257]:
A = pd.DataFrame({'Transport_turi': ['poezd','avtomabil','kema',],
                  'Tezligi':['70','180','45']})
A

  Transport_turi Tezligi
0          poezd      70
1      avtomabil     180
2           kema      45

In [258]:
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [259]:
# pd.merge(A. B)

## Bunday qilsak xatolik yuzaga keladi chunki umumiy birlashtiruvchi ustunlar mavjud emas.

In [260]:
merge = pd.merge(A, B, left_on='Transport_turi', right_on='Transport')
merge
# Bunda chapdagi A jadvalidan left_on bilan Transport_turi ustuni va o'ngdagi B jadvalidan right_on bilan
# Transport ustunini birlashtirish kerak ekanligini aytyabmiz
# lekin bunda ikkta ustunni ham chiqarganligi bois bittasini o'chirish kerak bo'ladi

  Transport_turi Tezligi  Transport  Narxi
0          poezd      70      poezd  98000
1      avtomabil     180  avtomabil  10000

In [261]:
merge = merge.drop('Transport', axis=1)
merge

  Transport_turi Tezligi  Narxi
0          poezd      70  98000
1      avtomabil     180  10000

## Indexlar ustida birlashtirish

In [262]:
A

  Transport_turi Tezligi
0          poezd      70
1      avtomabil     180
2           kema      45

## indexi sonlardan tashkil topgan B jadvali va transport_turi ustuni indexga aylantirilgan A jadvalini **merge** orqali birlashtirish usuli.

In [263]:
A = A.set_index('Transport_turi')
A
# Transport_turi degan ustunni index qilib oldik

               Tezligi
Transport_turi
poezd               70
avtomabil          180
kema                45

In [264]:
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [265]:
merged1 = pd.merge(A, B, left_index=True, right_on='Transport')
merged1
# 1-ustuni indexga aylantirilgan A jadvalini va B jadvalini bu metod birlashtirdik
# kamchiliga Transport_turi ustuni tushib qoladi ammo qolganlari saqlanib qoladi.

  Tezligi  Transport  Narxi
0      70      poezd  98000
1     180  avtomabil  10000

In [266]:
B = B.set_index('Transport')
B

           Narxi
Transport
poezd      98000
avtomabil  10000
tramvay    65000

In [267]:
A

               Tezligi
Transport_turi
poezd               70
avtomabil          180
kema                45

In [268]:
merged2 = pd.merge(A, B, left_index=True, right_index=True)
merged2
# Bunda yuqoridagi birinchi ustunlari indexga aylantirilgan A va B jadvallari birlashtirildi

          Tezligi  Narxi
poezd          70  98000
avtomabil     180  10000

In [269]:
merged2 = pd.merge(A, B, left_index=True, right_index=True, how='inner')
merged2
# Bu ham yuqoridagi natijani beradi

          Tezligi  Narxi
poezd          70  98000
avtomabil     180  10000

In [270]:
merged2 = pd.merge(A, B, left_index=True, right_index=True, how='outer')
merged2

          Tezligi  Narxi
avtomabil     180  10000
kema           45    NaN
poezd          70  98000
tramvay       NaN  65000