<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/06__cut()_va_qcut()_yordamida_guruhlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **.cut() va .qcut() yordamida guruhlash**

In [194]:
import pandas as pd
import numpy as np

In [195]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population.csv", usecols=['country','pop2021','area'], index_col='country')
df

                   pop2021     area
country
Macau              658.394       30
Monaco              39.511        2
Singapore         5896.686      710
Hong Kong         7552.810     1104
Gibraltar           33.698        6
...                    ...      ...
Namibia           2587.344   825615
Western Sahara     611.875   266000
Mongolia          3329.289  1564110
Falkland Islands     3.533    12173
Greenland           56.877  2166086

[232 rows x 2 columns]

In [196]:
df.loc['Uzbekistan']
# E'tibor bersak jadvalda aholi sonlari ming larda berilgan, lekin aslida bullar mln ga teng.

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [197]:
df.loc["India"]
# Bu mlrd ga teng

pop2021    1393409.038
area       3287590.000
Name: India, dtype: float64

## **Quyidagi oraliqda nechtadan davlat borligini tahlil qilamiz:**

1 milliongacha (0-1000)

1 - 10 mln oraliqda (1000-10000)

10 - 30 mln oraliqda (10000-30000)

30 - 50 mln oraliqda (30000-50000)

50 - 100 mln oraliqda (50000-100000)

100 - 300 mln oraliqda (100000-300000)

300 - 1.5 mlrd oraliqda (300000-1_500_000_000)


**Buning uchun quyidagi bin (nuqtalarni) yaratib olamiz:**

In [198]:
bins = [0, 1000, 10000, 30000, 50000, 100000,  300000, 1500000]
# 7 ta oraliqqa ajratib oldik

In [199]:
population = df.pop2021

In [200]:
population
# Aholini ko'rsatgan ustunni ajratib oldik yani pop2021 ni.

country
Macau                658.394
Monaco                39.511
Singapore           5896.686
Hong Kong           7552.810
Gibraltar             33.698
                      ...
Namibia             2587.344
Western Sahara       611.875
Mongolia            3329.289
Falkland Islands       3.533
Greenland             56.877
Name: pop2021, Length: 232, dtype: float64

In [201]:
guruh = pd.cut(population, bins)
guruh
# .cut yordamida population va bins o'zgaruvchilarini qo'ysak, bins dagi qaysi oraliq guruhlarga kirishini ko'rsatadi.

country
Macau                   (0, 1000]
Monaco                  (0, 1000]
Singapore           (1000, 10000]
Hong Kong           (1000, 10000]
Gibraltar               (0, 1000]
                        ...
Namibia             (1000, 10000]
Western Sahara          (0, 1000]
Mongolia            (1000, 10000]
Falkland Islands        (0, 1000]
Greenland               (0, 1000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [202]:
guruh.value_counts()
# Qaysi aholi guruhlari orasida nechta davlatlar soni mavjud ekanligini ko'rsatadi
# Biz quyida 7 ta aholi oraliq guruhlarini yaratganmiz.

pop2021
(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: count, dtype: int64

In [203]:
df['guruh'] = guruh
df
# guruh ustunini asl df jadvaliga qo'shdik

                   pop2021     area          guruh
country
Macau              658.394       30      (0, 1000]
Monaco              39.511        2      (0, 1000]
Singapore         5896.686      710  (1000, 10000]
Hong Kong         7552.810     1104  (1000, 10000]
Gibraltar           33.698        6      (0, 1000]
...                    ...      ...            ...
Namibia           2587.344   825615  (1000, 10000]
Western Sahara     611.875   266000      (0, 1000]
Mongolia          3329.289  1564110  (1000, 10000]
Falkland Islands     3.533    12173      (0, 1000]
Greenland           56.877  2166086      (0, 1000]

[232 rows x 3 columns]

In [204]:
df2 = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [205]:
df2.price.describe()
# Bu bilan min, max, std, mean va shu kabi boshqa ma'lumotlarini bilishimiz mumkin.

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [206]:
bins2 = [0, 10000, 20000, 50000]
# 0 dan 10_000 gacha,
# 10_000 dan 20_000 gacha,
# 20_000 dan 50_000 gacha bo'lganlarni 3 ta guruhga ajratdik

In [207]:
range = pd.cut(df2.price, bins2)
range
# Bunda df2 jadvalini price ustunini guruhlarga ajratdik

index
0     (10000, 20000]
1     (10000, 20000]
2     (10000, 20000]
3     (10000, 20000]
4     (10000, 20000]
           ...
81        (0, 10000]
82        (0, 10000]
86        (0, 10000]
87    (10000, 20000]
88    (10000, 20000]
Name: price, Length: 61, dtype: category
Categories (3, interval[int64, right]): [(0, 10000] < (10000, 20000] < (20000, 50000]]

In [208]:
range.value_counts()
# guruhlardagi davlatlar soni.

price
(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: count, dtype: int64

In [209]:
names = ["arzon", "o'rta", "qimmat"]
range = pd.cut(df2.price, bins2, labels=names)
range.value_counts()
# labels dan foydalanib 3 ta guruhga bo'lgandagi mashinalar sonini ko'rishimiz mumkin

price
arzon     28
o'rta     17
qimmat    13
Name: count, dtype: int64

In [210]:
df2["arzon_o'rta_qimmat"] = range
df2
# yuqoridagi ustunni df2 jadvaliga qo'shdik.

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,arzon_o'rta_qimmat
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,o'rta
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,o'rta
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,o'rta
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,o'rta
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,o'rta
...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,arzon
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,arzon
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,arzon
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,o'rta
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,o'rta

In [211]:
range = pd.cut(df2.price, 4)
range.value_counts()
# Yuqorida 3 guruhga bo'lib o'zgaruvchiga saqlagan edik
# Bunda shunchaki nechta guruhga bo'lmoqchi bo'lsak raqamini berib qo'ysak bo'ldi

price
(5110.751, 15213.25]    36
(15213.25, 25275.5]     10
(35337.75, 45400.0]      7
(25275.5, 35337.75]      5
Name: count, dtype: int64

In [212]:
range = pd.qcut(df2.price, 4)
range.value_counts()
# qcut yordamida nisbatan mashinalar sonini teng taqsimlagan holda bo'lishimiz mumkin yuqoridagidan farqli ravishda.

price
(5150.999, 6808.5]    15
(18120.5, 45400.0]    15
(6808.5, 11095.0]     14
(11095.0, 18120.5]    14
Name: count, dtype: int64

In [213]:
df2['new_price'] = range
df2
# 3 ta guruhga bo'lgandagi ustunni asl jadvalga qo'shdik.

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,arzon_o'rta_qimmat,new_price
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,o'rta,"(11095.0, 18120.5]"
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,o'rta,"(11095.0, 18120.5]"
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,o'rta,"(11095.0, 18120.5]"
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,o'rta,"(11095.0, 18120.5]"
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,o'rta,"(11095.0, 18120.5]"
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,arzon,"(6808.5, 11095.0]"
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,arzon,"(6808.5, 11095.0]"
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,arzon,"(6808.5, 11095.0]"
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,o'rta,"(11095.0, 18120.5]"
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,o'rta,"(11095.0, 18120.5]"

In [214]:
range1 = pd.qcut(df2.horsepower, 3)
range1.value_counts()
# Bunda boshqa yani horsepower ustunini guruhladik qcut bilan.

horsepower
(47.999, 70.0]    24
(111.0, 288.0]    20
(70.0, 111.0]     17
Name: count, dtype: int64

In [215]:
df2['new_horsepower_2'] = range1
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,arzon_o'rta_qimmat,new_price,new_horsepower_2
index,,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,o'rta,"(11095.0, 18120.5]","(70.0, 111.0]"
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,o'rta,"(11095.0, 18120.5]","(70.0, 111.0]"
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,o'rta,"(11095.0, 18120.5]","(111.0, 288.0]"
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,o'rta,"(11095.0, 18120.5]","(70.0, 111.0]"
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,o'rta,"(11095.0, 18120.5]","(111.0, 288.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,arzon,"(6808.5, 11095.0]","(70.0, 111.0]"
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,arzon,"(6808.5, 11095.0]","(47.999, 70.0]"
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,arzon,"(6808.5, 11095.0]","(70.0, 111.0]"
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,o'rta,"(11095.0, 18120.5]","(111.0, 288.0]"
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,o'rta,"(11095.0, 18120.5]","(111.0, 288.0]"