<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/07__groupby()_yordamida_guruhlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **.groupby() yordamida guruhlash**

In [109]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [111]:
df.company.value_counts()
# company ustunidagi takrorlanmas mashinalar va ularning soni aniqlandi.

company
toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
audi             4
volkswagen       4
mitsubishi       4
chevrolet        3
jaguar           3
isuzu            3
honda            3
porsche          3
alfa-romero      3
dodge            2
volvo            2
Name: count, dtype: int64

In [112]:
df[df.company=='toyota']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [113]:
df[df.company=='toyota'].mean(numeric_only=True)

wheel-base           96.957143
length              167.571429
horsepower           75.428571
average-mileage      28.714286
price              8216.857143
dtype: float64

In [114]:
df.groupby('company').mean(numeric_only=True)
# Bu ham ustun bo'yicha amallar bajarishning yana bir usuli.
# numeric_only=True bilanfaqat sonli ustunlarni tanlab olyabmiz.

,wheel-base,length,horsepower,average-mileage,price
company,,,,,
alfa-romero,90.566667,169.600000,125.333333,20.333333,15498.333333
audi,101.200000,180.800000,109.250000,20.000000,16392.500000
bmw,103.433333,185.033333,144.833333,19.000000,27213.333333
chevrolet,92.466667,151.933333,62.666667,41.000000,6007.000000
dodge,93.700000,157.300000,68.000000,31.000000,6303.000000
honda,96.500000,167.200000,92.333333,26.333333,10195.000000
isuzu,94.433333,160.833333,72.666667,33.333333,6785.000000
jaguar,109.333333,196.966667,204.666667,14.333333,34600.000000
mazda,95.900000,164.260000,75.400000,28.000000,9654.800000
mercedes-benz,113.225000,197.275000,153.500000,18.000000,35040.000000
mitsubishi,95.000000,164.850000,78.000000,29.500000,6689.000000
nissan,95.680000,170.140000,82.800000,31.400000,8289.000000
porsche,92.466667,171.166667,234.000000,17.000000,35528.000000
toyota,96.957143,167.571429,75.428571,28.714286,8216.857143
volkswagen,97.300000,171.700000,72.250000,31.750000,8435.000000
volvo,104.300000,188.800000,114.000000,23.000000,13177.500000

In [115]:
df.groupby('company').price.max()
# takrorlanmas mashinalar uchun maxsimum narxlar chiqarildi.

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [116]:
df.groupby(['company','body-style']).price.mean()
# company va body-style ustunlarni chiqardik hamda price bo'yicha ham o'rtacha qiymatini chiqardik.
# alfa-romero companiyasining 2 ta yani convertible va hatchback rusumli mashinlari hisoblangan, qolganlari ham shu kabi.

company        body-style
alfa-romero    convertible    14997.500000
               hatchback      16500.000000
audi           sedan          15550.000000
               wagon          18920.000000
bmw            sedan          27213.333333
chevrolet      hatchback       5723.000000
               sedan           6575.000000
dodge          hatchback       6303.000000
honda          sedan          11645.000000
               wagon           7295.000000
isuzu          sedan           6785.000000
jaguar         sedan          34600.000000
mazda          hatchback       7482.500000
               sedan          18344.000000
mercedes-benz  hardtop        45400.000000
               sedan          33256.000000
               wagon          28248.000000
mitsubishi     hatchback       5789.000000
               sedan           7589.000000
nissan         sedan           8524.000000
               wagon           7349.000000
porsche        convertible    37028.000000
               hardtop        34028.000000
               hatchback               NaN
toyota         hatchback       6058.000000
               wagon           9836.000000
volkswagen     sedan           8435.000000
volvo          sedan          12940.000000
               wagon          13415.000000
Name: price, dtype: float64

In [117]:
#df.groupby('company').agg([min, max, np.mean])


df.groupby('company').agg({'wheel-base': ['min', 'max', 'mean', lambda x: np.median(x)],
                               'length': ['min', 'max', 'mean', lambda x: np.median(x)],
                               'horsepower': ['min', 'max', 'mean'],
                               'average-mileage': ['min', 'max', 'mean'],
                               'price': ['min', 'max', 'mean', lambda x: np.median(x)]})

# agg - agregatik, yani bir nechta buyruqlarini bittada yozish mumkin
# bunda biz tanlagan guruhlar bo'yicha min, max va mean qiymatlarini hisoblab beradi.
# Shuningdek ayrim ustunlarga lambda x: np.median(x) bu buyruqdan ham foydalanganmiz yani bu lambda bilan medianini hisoblab beradi.

              wheel-base                               length         \
                     min    max        mean <lambda_0>    min    max
company
alfa-romero         88.6   94.5   90.566667      88.60  168.8  171.2
audi                99.4  105.8  101.200000      99.80  176.6  192.7
bmw                101.2  110.0  103.433333     102.35  176.8  197.0
chevrolet           88.4   94.5   92.466667      94.50  141.1  158.8
dodge               93.7   93.7   93.700000      93.70  157.3  157.3
honda               96.5   96.5   96.500000      96.50  157.1  175.4
isuzu               94.3   94.5   94.433333      94.50  155.9  170.7
jaguar             102.0  113.0  109.333333     113.00  191.7  199.6
mazda               93.1  104.9   95.900000      93.10  159.1  175.0
mercedes-benz      110.0  120.9  113.225000     111.00  190.9  208.1
mitsubishi          93.7   96.3   95.000000      95.00  157.3  172.4
nissan              94.5  100.4   95.680000      94.50  165.3  184.6
porsche             89.5   98.4   92.466667      89.50  168.9  175.7
toyota              95.7  104.5   96.957143      95.70  158.7  187.8
volkswagen          97.3   97.3   97.300000      97.30  171.7  171.7
volvo              104.3  104.3  104.300000     104.30  188.8  188.8

                                     horsepower                   \
                     mean <lambda_0>        min  max        mean
company
alfa-romero    169.600000     168.80        111  154  125.333333
audi           180.800000     176.95        102  115  109.250000
bmw            185.033333     182.90        101  182  144.833333
chevrolet      151.933333     155.90         48   70   62.666667
dodge          157.300000     157.30         68   68   68.000000
honda          167.200000     169.10         76  101   92.333333
isuzu          160.833333     155.90         70   78   72.666667
jaguar         196.966667     199.60        176  262  204.666667
mazda          164.260000     159.10         68  101   75.400000
mercedes-benz  197.275000     195.05        123  184  153.500000
mitsubishi     164.850000     164.85         68   88   78.000000
nissan         170.140000     165.30         55  152   82.800000
porsche        171.166667     168.90        207  288  234.000000
toyota         167.571429     169.70         62  156   75.428571
volkswagen     171.700000     171.70         52  100   72.250000
volvo          188.800000     188.80        114  114  114.000000

              average-mileage                   price                         \
                          min max       mean      min      max          mean
company
alfa-romero                19  21  20.333333  13495.0  16500.0  15498.333333
audi                       18  24  20.000000  13950.0  18920.0  16392.500000
bmw                        15  23  19.000000  16430.0  41315.0  27213.333333
chevrolet                  38  47  41.000000   5151.0   6575.0   6007.000000
dodge                      31  31  31.000000   6229.0   6377.0   6303.000000
honda                      24  30  26.333333   7295.0  12945.0  10195.000000
isuzu                      24  38  33.333333   6785.0   6785.0   6785.000000
jaguar                     13  15  14.333333  32250.0  36000.0  34600.000000
mazda                      17  31  28.000000   5195.0  18344.0   9654.800000
mercedes-benz              14  22  18.000000  25552.0  45400.0  35040.000000
mitsubishi                 25  37  29.500000   5389.0   8189.0   6689.000000
nissan                     19  45  31.400000   6649.0  13499.0   8289.000000
porsche                    17  17  17.000000  34028.0  37028.0  35528.000000
toyota                     19  35  28.714286   5348.0  15750.0   8216.857143
volkswagen                 26  37  31.750000   7775.0   9995.0   8435.000000
volvo                      23  23  23.000000  12940.0  13415.0  13177.500000


              <lambda_0>
company
alfa-romero      16500.0
audi             16350.0
bmw              25865.0
chevrolet         6295.0
dodge             6303.0
honda            10345.0
isuzu                NaN
jaguar           35550.0
mazda             6795.0
mercedes-benz    34604.0
mitsubishi        6589.0
nissan            7099.0
porsche              NaN
toyota            6918.0
volkswagen        7985.0
volvo            13177.5

In [118]:
df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])
# Bunda 1 ta ustun yani price bo'yicha chiqarildi.

/tmp/ipython-input-3628882901.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])
/tmp/ipython-input-3628882901.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])
/tmp/ipython-input-3628882901.py:1: FutureWarning: The provided callable <function mean at 0x7c6396b3f880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])

                   min      max          mean  <lambda_0>
company
alfa-romero    13495.0  16500.0  15498.333333     16500.0
audi           13950.0  18920.0  16392.500000     16350.0
bmw            16430.0  41315.0  27213.333333     25865.0
chevrolet       5151.0   6575.0   6007.000000      6295.0
dodge           6229.0   6377.0   6303.000000      6303.0
honda           7295.0  12945.0  10195.000000     10345.0
isuzu           6785.0   6785.0   6785.000000         NaN
jaguar         32250.0  36000.0  34600.000000     35550.0
mazda           5195.0  18344.0   9654.800000      6795.0
mercedes-benz  25552.0  45400.0  35040.000000     34604.0
mitsubishi      5389.0   8189.0   6689.000000      6589.0
nissan          6649.0  13499.0   8289.000000      7099.0
porsche        34028.0  37028.0  35528.000000         NaN
toyota          5348.0  15750.0   8216.857143      6918.0
volkswagen      7775.0   9995.0   8435.000000      7985.0
volvo          12940.0  13415.0  13177.500000     13177.5

In [119]:
df.groupby('company').agg([len, min, max])

/tmp/ipython-input-1467688197.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('company').agg([len, min, max])
/tmp/ipython-input-1467688197.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('company').agg([len, min, max])

              body-style                         wheel-base                \
                     len          min        max        len    min    max
company
alfa-romero            3  convertible  hatchback          3   88.6   94.5
audi                   4        sedan      wagon          4   99.4  105.8
bmw                    6        sedan      sedan          6  101.2  110.0
chevrolet              3    hatchback      sedan          3   88.4   94.5
dodge                  2    hatchback  hatchback          2   93.7   93.7
honda                  3        sedan      wagon          3   96.5   96.5
isuzu                  3        sedan      sedan          3   94.3   94.5
jaguar                 3        sedan      sedan          3  102.0  113.0
mazda                  5    hatchback      sedan          5   93.1  104.9
mercedes-benz          4      hardtop      wagon          4  110.0  120.9
mitsubishi             4    hatchback      sedan          4   93.7   96.3
nissan                 5        sedan      wagon          5   94.5  100.4
porsche                3  convertible  hatchback          3   89.5   98.4
toyota                 7    hatchback      wagon          7   95.7  104.5
volkswagen             4        sedan      sedan          4   97.3   97.3
volvo                  2        sedan      wagon          2  104.3  104.3

              length               engine-type  ... num-of-cylinders  \
                 len    min    max         len  ...              max
company                                         ...
alfa-romero        3  168.8  171.2           3  ...              six
audi               4  176.6  192.7           4  ...             four
bmw                6  176.8  197.0           6  ...              six
chevrolet          3  141.1  158.8           3  ...            three
dodge              2  157.3  157.3           2  ...             four
honda              3  157.1  175.4           3  ...             four
isuzu              3  155.9  170.7           3  ...             four
jaguar             3  191.7  199.6           3  ...           twelve
mazda              5  159.1  175.0           5  ...              two
mercedes-benz      4  190.9  208.1           4  ...             five
mitsubishi         4  157.3  172.4           4  ...             four
nissan             5  165.3  184.6           5  ...              six
porsche            3  168.9  175.7           3  ...              six
toyota             7  158.7  187.8           7  ...              six
volkswagen         4  171.7  171.7           4  ...             four
volvo              2  188.8  188.8           2  ...             four

              horsepower           average-mileage         price           \
                     len  min  max             len min max   len      min
company
alfa-romero            3  111  154               3  19  21     3  13495.0
audi                   4  102  115               4  18  24     4  13950.0
bmw                    6  101  182               6  15  23     6  16430.0
chevrolet              3   48   70               3  38  47     3   5151.0
dodge                  2   68   68               2  31  31     2   6229.0
honda                  3   76  101               3  24  30     3   7295.0
isuzu                  3   70   78               3  24  38     3   6785.0
jaguar                 3  176  262               3  13  15     3  32250.0
mazda                  5   68  101               5  17  31     5   5195.0
mercedes-benz          4  123  184               4  14  22     4  25552.0
mitsubishi             4   68   88               4  25  37     4   5389.0
nissan                 5   55  152               5  19  45     5   6649.0
porsche                3  207  288               3  17  17     3  34028.0
toyota                 7   62  156               7  19  35     7   5348.0
volkswagen             4   52  100               4  26  37     4   7775.0
volvo                  2  114  114               2  23  23     2  12940.0


                   max
company
alfa-romero    16500.0
audi           18920.0
bmw            41315.0
chevrolet       6575.0
dodge           6377.0
honda          12945.0
isuzu           6785.0
jaguar         36000.0
mazda          18344.0
mercedes-benz  45400.0
mitsubishi      8189.0
nissan         13499.0
porsche        37028.0
toyota         15750.0
volkswagen      9995.0
volvo          13415.0

[16 rows x 24 columns]

In [120]:
df.groupby('body-style').price.agg([len, min, max, np.mean])

/tmp/ipython-input-614320205.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])
/tmp/ipython-input-614320205.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])
/tmp/ipython-input-614320205.py:1: FutureWarning: The provided callable <function mean at 0x7c6396b3f880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])

             len      min      max          mean
body-style
convertible    3  13495.0  37028.0  22341.000000
hardtop        2  34028.0  45400.0  39714.000000
hatchback     15   5151.0  16500.0   7159.571429
sedan         32   6575.0  41315.0  17706.333333
wagon          9   6918.0  28248.0  12730.111111