<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/03_Takroriy_qiymatlarni_o'chirish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Takroriy qiymatlarni o'chirish**.
# **Qiymatlarni o'zgartirish**

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv')
df.head()

   rank  country     density   densityMi    pop2021   area
0     1    Macau  21946.4667  56841.3487    658.394     30
1     2   Monaco  19755.5000  51166.7450     39.511      2
2    28  Burundi    440.3044   1140.3884  12255.433  27834
3     1    Macau  21946.4667  56841.3487    658.394     30
4     2   Monaco  19755.5000  51166.7450     39.511      2

In [5]:
df.duplicated()
# Bu takrorlangan qiymatlarni ko'rsatadi, takrorlangan bo'lsa True bo'ladi, aks holda False qaytaradi.

0      False
1      False
2      False
3       True
4       True
       ...
242    False
243    False
244    False
245    False
246    False
Length: 247, dtype: bool

In [6]:
df.shape
# qatorlar sonini aniqlandi.

(247, 6)

In [8]:
df.duplicated().sum()
# duplicated bo'lgan yani qiymatlari takrorlangan qatorlar soni aniqlandi.

np.int64(15)

In [11]:
df.drop_duplicates()
# dublicated bo'lgan qatorlarni tashlab yubordik drop bilan va endi asl jadvaldagi 247 ta qatordan, 232 ta qator qoldi
# Etibor beraylik duplicates deb yozildi yuqoridagilarda duplicated yozilayotgan edi.

     rank           country     density   densityMi    pop2021     area
0       1             Macau  21946.4667  56841.3487    658.394       30
1       2            Monaco  19755.5000  51166.7450     39.511        2
2      28           Burundi    440.3044   1140.3884  12255.433    27834
5       3         Singapore   8305.1915  21510.4461   5896.686      710
6       4         Hong Kong   6841.3134  17719.0017   7552.810     1104
..    ...               ...         ...         ...        ...      ...
242   228           Namibia      3.1338      8.1166   2587.344   825615
243   229    Western Sahara      2.3003      5.9577    611.875   266000
244   230          Mongolia      2.1286      5.5129   3329.289  1564110
245   231  Falkland Islands      0.2902      0.7517      3.533    12173
246   232         Greenland      0.0263      0.0680     56.877  2166086

[232 rows x 6 columns]

In [12]:
df.drop_duplicates(['country','rank'])
# Bu kod df DataFrame'idan 'country' va 'rank' bo'yicha takrorlangan qatorlarni olib tashlab, noyoblarini qoldiradi.

     rank           country     density   densityMi    pop2021     area
0       1             Macau  21946.4667  56841.3487    658.394       30
1       2            Monaco  19755.5000  51166.7450     39.511        2
2      28           Burundi    440.3044   1140.3884  12255.433    27834
5       3         Singapore   8305.1915  21510.4461   5896.686      710
6       4         Hong Kong   6841.3134  17719.0017   7552.810     1104
..    ...               ...         ...         ...        ...      ...
242   228           Namibia      3.1338      8.1166   2587.344   825615
243   229    Western Sahara      2.3003      5.9577    611.875   266000
244   230          Mongolia      2.1286      5.5129   3329.289  1564110
245   231  Falkland Islands      0.2902      0.7517      3.533    12173
246   232         Greenland      0.0263      0.0680     56.877  2166086

[232 rows x 6 columns]