<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/09_Jadvaldan_tasodifiy_qiymatlarni_olish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Jadvaldan tasodifiy qiymatlarni olish**

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df

    first_name   last_name                           email       gender   age
id
1      Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2      Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3       Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4         Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5     Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48
..         ...         ...                             ...          ...   ...
96        Baxy       Marcu        bmarcu2n@list-manage.com      Agender    64
97      Kattie     Claxson          kclaxson2o@booking.com       Female    18
98        Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender    55
99   Desdemona     Jurasek        djurasek2q@aboutads.info  Genderfluid    46
100      Mable     Toffano          mtoffano2r@myspace.com     Bigender   233

[100 rows x 5 columns]

In [5]:
len(df)
# Demak 100 qator tartib sonli yani kichikdan kattaga o'sgan jadval mavjud

100

In [10]:
randlist = np.random.permutation(100)
randlist
# Bu yordamida biz bu tartib raqamlarni aralashtirayabmiz

array([46, 93, 40, 37, 15, 13, 62, 88, 11, 16, 98,  3, 12, 69, 41, 23, 47,
       63, 52, 36, 34, 80, 49, 94, 35, 71,  9, 76, 32, 95, 38,  5,  8, 87,
       44, 19, 89,  0, 79, 39, 97, 27, 68, 20, 14, 29, 75, 70, 78, 91, 84,
        7, 99, 61, 26, 10, 86, 24, 65, 92, 55, 59, 73, 72, 43, 31, 21, 74,
       77, 90, 45, 50,  1, 60, 51,  4, 82, 30, 54, 57, 81, 28, 64,  6, 66,
       53, 18, 85, 48, 67, 42, 58,  2, 96, 83, 17, 22, 33, 56, 25])

In [12]:
df.take(randlist)
# take bilan yuqorda aralashtirgan id raqamlarini df jadvaliga qo'lladik

   first_name   last_name                           email       gender  age
id
47      Cleve   Sparshatt      csparshatt1a@economist.com  Genderfluid  333
94     Sheree      Cockin       scockin2l@accuweather.com       Female   94
41   Katheryn    Ashleigh          kashleigh14@devhub.com      Agender   36
38       Hana    Langwade  hlangwade11@washingtonpost.com  Genderqueer  -42
16       Anny      Rodway           arodwayf@examiner.com   Non-binary   87
..        ...         ...                             ...          ...  ...
18    Artemus    Shovelin           ashovelinh@sphinn.com   Non-binary   58
23    Linnell       Picot        lpicotm@biblegateway.com  Genderfluid   79
34     Brooks        Vose               bvosex@amazon.com       Female   34
57   Salvador     Dusting           sdusting1k@tripod.com   Non-binary   96
26   Ephrayim  Westmacott           ewestmacottp@ning.com         Male   77

[100 rows x 5 columns]

In [14]:
df.sample(12)
# tasodifiy 12 qatorni ajratib oldik

    first_name   last_name                         email       gender  age
id
100      Mable     Toffano        mtoffano2r@myspace.com     Bigender  233
40       Moria     Boullin       mboullin13@illinois.edu      Agender    8
19       Luisa   Bradborne          lbradbornei@fema.gov       Female  -75
53     Demeter     Widdall         dwiddall1g@flavors.me     Bigender   90
42      Dermot      Dragge        ddragge15@google.co.jp  Genderfluid   37
56   Guillermo     Batrick     gbatrick1j@macromedia.com     Bigender   29
87       Peder      Murrie       pmurrie2e@bloglovin.com         Male   69
26    Ephrayim  Westmacott         ewestmacottp@ning.com         Male   77
78       Richy  Cornilleau          rcornilleau25@nhs.uk     Bigender   88
55       Hiram    Bringloe            hbringloe1i@pen.io   Polygender   50
35     Deeanne    Iamittii          diamittiiy@nifty.com     Bigender   39
88        Kain   Dumphries  kdumphries2f@hugedomains.com         Male   93

In [18]:
df.sample(12,replace=True)
# replace=True bilan esa tasodifiy 12 qator ichida bazi qatorlar yana takrorlangan bo'lishi mumkin

   first_name   last_name                         email       gender  age
id
68      Letty     Liddell            lliddell1v@nps.gov  Genderfluid   85
68      Letty     Liddell            lliddell1v@nps.gov  Genderfluid   85
18    Artemus    Shovelin         ashovelinh@sphinn.com   Non-binary   58
51  Gwendolin     Kennion  gkennion1e@independent.co.uk     Bigender   83
5    Mohammed  Habbershon  mhabbershon4@sourceforge.net       Female   48
86    Rogerio        Akid           rakid2d@latimes.com       Female    3
4        Knox  Cunningham  kcunningham3@yellowpages.com  Genderfluid    6
75       Andy     Belchem      abelchem22@artisteer.com  Genderfluid   37
19      Luisa   Bradborne          lbradbornei@fema.gov       Female  -75
81       Alex       Darth    adarth28@ezinearticles.com       Female   98
74      Curry  Smalecombe  csmalecombe21@washington.edu         Male   69
35    Deeanne    Iamittii          diamittiiy@nifty.com     Bigender   39