<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/10_Kaggle_bilan_tanishuv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Kaggle bilan tanishuv**

In [72]:
import pandas as pd
import numpy as np

In [73]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("tunguz/country-regional-and-world-gdp")

print("Path to dataset files:", path)
#path

Using Colab cache for faster access to the 'country-regional-and-world-gdp' dataset.
Path to dataset files: /kaggle/input/country-regional-and-world-gdp

In [74]:
import os

os.listdir(path)

['gdp_csv.csv']

In [75]:
df3 = pd.read_csv(os.path.join(path, "gdp_csv.csv"))
df3.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [76]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "gdp_csv.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "tunguz/country-regional-and-world-gdp",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df)

/tmp/ipython-input-2376632208.py:10: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Using Colab cache for faster access to the 'country-regional-and-world-gdp' dataset.
First 5 records:       Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Country Code  11507 non-null  object
 2   Year          11507 non-null  int64
 3   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB

# **Pastda yana bir jadvalni yuklab oldik Kaggle orqali**

In [78]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("riteshswami08/10000-popular-tv-shows-dataset-tmdb")

print("Path to dataset files:", path)

Using Colab cache for faster access to the '10000-popular-tv-shows-dataset-tmdb' dataset.
Path to dataset files: /kaggle/input/10000-popular-tv-shows-dataset-tmdb

In [79]:
import os
os.listdir(path)

# Buni colapda yozayotganimiz uchun o'zimiz qo'shamiz url olish uchun

['10k_Poplar_Tv_Shows.csv']

In [80]:
df = pd.read_csv(os.path.join(path,"10k_Poplar_Tv_Shows.csv"))
df.head()

# os.path.join(path, url)) qilib o'qiymiz.

,adult,backdrop_path,genre_ids,id,origin_country,original_language,original_name,overview,popularity,poster_path,first_air_date,name,vote_average,vote_count
0,False,/iHSwvRVsRyxpX7FE7GbviaDvgGZ.jpg,"[10765, 9648, 35]",119051,['US'],en,Wednesday,"Smart, sarcastic and a little dead inside, Wed...",318.7812,/36xXlhEpQqVVPuiZhfoQuaY4OlA.jpg,2022-11-23,Wednesday,8.392,9781
1,False,/jCcSS9iDpKgll8Kpp7qVhSn0l1f.jpg,[18],194766,['US'],en,The Summer I Turned Pretty,"Every summer, Belly and her family head to the...",266.2929,/xBIz53wYWsKfFpN0TaizVAjKJ0z.jpg,2022-06-16,The Summer I Turned Pretty,8.173,956
2,False,/biIBy2LPOOtGCgUYOls3dUEWU3v.jpg,"[10765, 18]",157239,['US'],en,Alien: Earth,When the mysterious deep space research vessel...,229.4961,/yueXS3q8BtoWekcHOATFHicLl3e.jpg,2025-08-12,Alien: Earth,7.708,427
3,False,/aSGSxGMTP893DPMCvMl9AdnEICE.jpg,"[80, 18, 9648]",1405,['US'],en,Dexter,"Dexter Morgan, a blood spatter pattern analyst...",194.8342,/q8dWfc4JwQuv3HayIZeO84jAXED.jpg,2006-10-01,Dexter,8.215,4900
4,False,/oRdc2nn7jLOYy4fBdvmFKPsKzZE.jpg,"[80, 18, 9648]",2734,['US'],en,Law & Order: Special Victims Unit,"In the criminal justice system, sexually-based...",174.1633,/34O6znqnLHAa19mZrQB0sxTDGzH.jpg,1999-09-20,Law & Order: Special Victims Unit,7.936,4010

# New Section
# **Pastda yana bir jadvalni yuklab oldik Kaggle orqali**

In [81]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("farazrahman/earthquake")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'earthquake' dataset.
Path to dataset files: /kaggle/input/earthquake

In [82]:
import os
os.listdir("/kaggle/input/earthquake")

['all_month.csv']

In [83]:
# dff = pd.read_csv("all_month.csv")
# dff

dff = pd.read_csv("/kaggle/input/earthquake/all_month.csv")
dff.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2026-01-09T01:50:30.305Z,60.609000,-150.754000,11.60,1.80,ml,34.0,52.0,0.30000,0.80,...,2026-01-09T01:52:21.713Z,"8 km N of Sterling, Alaska",earthquake,0.00,1.7929,0.100000,5.0,automatic,ak,ak
1,2026-01-09T01:32:43.971Z,60.570100,-139.980300,5.00,2.60,ml,12.0,110.0,0.49500,0.68,...,2026-01-09T01:48:55.040Z,"114 km N of Yakutat, Alaska",earthquake,2.81,2.0040,0.071000,26.0,reviewed,us,us
2,2026-01-09T01:27:23.330Z,17.983667,-66.148500,16.55,1.81,md,14.0,156.0,0.03477,0.16,...,2026-01-09T01:45:56.910Z,"3 km NNE of Jobos, Puerto Rico",earthquake,0.49,0.3400,0.033858,3.0,reviewed,pr,pr
3,2026-01-09T01:25:29.090Z,33.252000,-116.426667,4.53,0.89,ml,11.0,165.0,0.01801,0.10,...,2026-01-09T01:29:10.438Z,"5 km W of Borrego Springs, CA",earthquake,0.95,0.4700,0.110717,14.0,automatic,ci,ci
4,2026-01-09T01:09:27.615Z,63.351000,-145.423000,7.40,2.30,ml,33.0,62.0,0.20000,0.90,...,2026-01-09T01:11:39.518Z,"30 km NNE of Paxson, Alaska",earthquake,0.00,1.8616,0.300000,7.0,automatic,ak,ak