<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/10_kaggle_to_colap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [284]:
import numpy as np
import pandas as pd

In [285]:
!pip install -q kagglehub
import kagglehub
import os
import pandas as pd

path = kagglehub.dataset_download("NASA/meteorite-landings")

os.listdir(path)

# Bu bilan kaggle ni import qilib olib kelib o'rnatayabmiz
# Agar Kagglening o'zida bo'lganimizda bu kodsiz ham ishlar edi colapda bo'lganimiz uchun yozyabmiz

Using Colab cache for faster access to the 'meteorite-landings' dataset.

['meteorite-landings.csv']

In [286]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/meteorite-landings/meteorite-landings.csv
/kaggle/input/earthquake/all_month.csv

In [287]:
df = pd.read_csv("/kaggle/input/meteorite-landings/meteorite-landings.csv")
df.head()
# Bu yerga yuqoridagi coddan qaytgan yanichiqarib bergan url manzilini yozdik.

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [288]:
import datetime as dt

In [289]:
hozir = dt.datetime.now()

In [290]:
type(hozir)

datetime.datetime

In [291]:
display(hozir)

datetime.datetime(2026, 1, 14, 13, 24, 7, 604854)

In [292]:
print(hozir)

2026-01-14 13:24:07.604854

In [293]:
hozir.hour

13

In [294]:
hozir.minute

24

In [295]:
hozir.weekday()
# qaysi hafta kuni ekanligini aniqlaydi

2

In [296]:
hozir.month

1

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass         45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45428 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [298]:
sana = df.at[0,'name']
# name ning type ga etibor bersak Dtypei object bo'lib turibdi

In [299]:
#sana.month
# shuning uchun buni xato chiqarayabdi

In [300]:
df.at[6,'year']

np.float64(1949.0)

In [301]:
df.at[9,'GeoLocation']

'(-30.866670, -64.550000)'

In [302]:
df.at[5,'fall']

'Fell'

# **Yuqoridagi jadvalda time datetime kabi ustunlar bo'lmagani uchun yangi jadval yuklab olindi Kaggle orqali**

In [303]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("farazrahman/earthquake")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'earthquake' dataset.
Path to dataset files: /kaggle/input/earthquake

In [304]:
import os
os.listdir("/kaggle/input/earthquake")

['all_month.csv']

In [305]:
# dff = pd.read_csv("all_month.csv")
# dff

dff = pd.read_csv("/kaggle/input/earthquake/all_month.csv")
dff.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2026-01-09T01:50:30.305Z,60.609000,-150.754000,11.60,1.80,ml,34.0,52.0,0.30000,0.80,...,2026-01-09T01:52:21.713Z,"8 km N of Sterling, Alaska",earthquake,0.00,1.7929,0.100000,5.0,automatic,ak,ak
1,2026-01-09T01:32:43.971Z,60.570100,-139.980300,5.00,2.60,ml,12.0,110.0,0.49500,0.68,...,2026-01-09T01:48:55.040Z,"114 km N of Yakutat, Alaska",earthquake,2.81,2.0040,0.071000,26.0,reviewed,us,us
2,2026-01-09T01:27:23.330Z,17.983667,-66.148500,16.55,1.81,md,14.0,156.0,0.03477,0.16,...,2026-01-09T01:45:56.910Z,"3 km NNE of Jobos, Puerto Rico",earthquake,0.49,0.3400,0.033858,3.0,reviewed,pr,pr
3,2026-01-09T01:25:29.090Z,33.252000,-116.426667,4.53,0.89,ml,11.0,165.0,0.01801,0.10,...,2026-01-09T01:29:10.438Z,"5 km W of Borrego Springs, CA",earthquake,0.95,0.4700,0.110717,14.0,automatic,ci,ci
4,2026-01-09T01:09:27.615Z,63.351000,-145.423000,7.40,2.30,ml,33.0,62.0,0.20000,0.90,...,2026-01-09T01:11:39.518Z,"30 km NNE of Paxson, Alaska",earthquake,0.00,1.8616,0.300000,7.0,automatic,ak,ak

In [306]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8980 entries, 0 to 8979
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             8980 non-null   object
 1   latitude         8980 non-null   float64
 2   longitude        8980 non-null   float64
 3   depth            8980 non-null   float64
 4   mag              8979 non-null   float64
 5   magType          8979 non-null   object
 6   nst              8979 non-null   float64
 7   gap              8979 non-null   float64
 8   dmin             8977 non-null   float64
 9   rms              8979 non-null   float64
 10  net              8980 non-null   object
 11  id               8980 non-null   object
 12  updated          8980 non-null   object
 13  place            8980 non-null   object
 14  type             8980 non-null   object
 15  horizontalError  8746 non-null   float64
 16  depthError       8843 non-null   float64
 17  magError         8944 non-null   float64
 18  magNst           8976 non-null   float64
 19  status           8980 non-null   object
 20  locationSource   8980 non-null   object
 21  magSource        8980 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.5+ MB

In [307]:
sana = dff.at[0,'time']

In [308]:
sana
# Buning type hozir object yani str ing bo'lib turibdi.

'2026-01-09T01:50:30.305Z'

In [309]:
dff.shape

(8980, 22)

# **Format ma’nosi:**

%Y → yil

%m → oy

%d → kun

T → literal belgi

%H:%M:%S → soat

%f → millisekund

Z → UTC

Bular vaqt belgilari

In [310]:
pd.to_datetime(dff['time'])

0      2026-01-09 01:50:30.305000+00:00
1      2026-01-09 01:32:43.971000+00:00
2      2026-01-09 01:27:23.330000+00:00
3      2026-01-09 01:25:29.090000+00:00
4      2026-01-09 01:09:27.615000+00:00
                     ...
8975   2025-12-10 02:39:14.574000+00:00
8976   2025-12-10 02:33:34.755000+00:00
8977   2025-12-10 02:25:21.529000+00:00
8978   2025-12-10 02:24:19.801000+00:00
8979   2025-12-10 02:22:24.461000+00:00
Name: time, Length: 8980, dtype: datetime64[ns, UTC]

In [311]:
pd.to_datetime(dff['time'], format="%Y-%m-%dT%H:%M:%S.%fZ")
# yil-oy-kun - chiziqcha bilan ajratiladi
# 24 soatlik yani soat:minut:sekund kabilar : 2 ta nuqta bilan yanayam kichiklar . nuqta bilan ajratiladi
# Hamda hammasining boshida % foiz belgisi bo'ladi.

0      2026-01-09 01:50:30.305
1      2026-01-09 01:32:43.971
2      2026-01-09 01:27:23.330
3      2026-01-09 01:25:29.090
4      2026-01-09 01:09:27.615
                 ...
8975   2025-12-10 02:39:14.574
8976   2025-12-10 02:33:34.755
8977   2025-12-10 02:25:21.529
8978   2025-12-10 02:24:19.801
8979   2025-12-10 02:22:24.461
Name: time, Length: 8980, dtype: datetime64[ns]

In [312]:
dff.shape

(8980, 22)

In [313]:
dff['time'].str.len().value_counts()

time
24    8980
Name: count, dtype: int64

### 8980 ta qator mavjud va uning barchasi bir xil 24 talik belgidan tashkil topib to'ldirilgan.
### Agar to'ldirilmaganda avvalgi darslarimizda ko'rganimizdek kam yokida oshiqchalarni o'chirib yuborishimiz yokida boshqacha qilib o'zgartirishimiz mumkin bo'lardi

## Huddi shunday quyidagi jadvalimiz toliq bo'lmaganda oshiqchalarini quyidagicha aniqlab o'chirishimiz yokida qiymatini to'g'irlab o'zgartirishimiz mumkin bo'lardi: PASTDAGI KODLAR ORQALI

In [314]:
# pd.to_datetime(dff['time'])

In [315]:
# pd.to_datetime(dff['time'], format="%Y/%m/%d")

## yuqoridagi yokida pastdagini bajaramiz

# pd.to_datetime(dff['time'], format="%Y-%m-%dT%H:%M:%S.%fZ")

In [316]:
# dff['time'].str.len().value_counts()

## yuqoridagi yokida pastdagini bajaramiz

# dff['time'].apply(lambda x: len(str(x))).value_counts()

## Buni qaytadan stringga o'tkaxdik

## Bundan xulosa qilamizki jadvalda umumiy 8980 ta qator bo'lsa shuning 8922 tasi toliq vaqat qiymatlari mavjud yani 26 ta belgidan tashkil topgan
## 58 ta qatori esa toliq emas yani 19 ta belgidan tashkil topganligini ko'rishimiz mumkin.

In [317]:
# dff[dff['time'].str.len() == 26]

## yuqoridagi yokida pastdagini bajaramiz

# dff[dff['time'].apply(lambda x: len(str(x))) == 19]

# **new section**

In [324]:
dff

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2026-01-09 01:50:30.305,60.609000,-150.754000,11.60,1.80,ml,34.0,52.0,0.30000,0.80,...,2026-01-09T01:52:21.713Z,"8 km N of Sterling, Alaska",earthquake,0.00,1.7929,0.100000,5.0,automatic,ak,ak
1,2026-01-09 01:32:43.971,60.570100,-139.980300,5.00,2.60,ml,12.0,110.0,0.49500,0.68,...,2026-01-09T01:48:55.040Z,"114 km N of Yakutat, Alaska",earthquake,2.81,2.0040,0.071000,26.0,reviewed,us,us
2,2026-01-09 01:27:23.330,17.983667,-66.148500,16.55,1.81,md,14.0,156.0,0.03477,0.16,...,2026-01-09T01:45:56.910Z,"3 km NNE of Jobos, Puerto Rico",earthquake,0.49,0.3400,0.033858,3.0,reviewed,pr,pr
3,2026-01-09 01:25:29.090,33.252000,-116.426667,4.53,0.89,ml,11.0,165.0,0.01801,0.10,...,2026-01-09T01:29:10.438Z,"5 km W of Borrego Springs, CA",earthquake,0.95,0.4700,0.110717,14.0,automatic,ci,ci
4,2026-01-09 01:09:27.615,63.351000,-145.423000,7.40,2.30,ml,33.0,62.0,0.20000,0.90,...,2026-01-09T01:11:39.518Z,"30 km NNE of Paxson, Alaska",earthquake,0.00,1.8616,0.300000,7.0,automatic,ak,ak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8975,2025-12-10 02:39:14.574,60.629000,-139.894000,5.90,2.20,ml,20.0,50.0,0.60000,1.20,...,2026-01-08T21:13:00.299Z,"120 km N of Yakutat, Alaska",earthquake,0.00,2.3346,0.300000,13.0,reviewed,ak,ak
8976,2025-12-10 02:33:34.755,60.522000,-139.707000,3.10,2.10,ml,21.0,52.0,0.50000,0.80,...,2026-01-08T21:01:04.078Z,"108 km N of Yakutat, Alaska",earthquake,0.00,2.2623,0.200000,13.0,reviewed,ak,ak
8977,2025-12-10 02:25:21.529,60.397000,-139.501000,2.70,2.20,ml,16.0,56.0,0.50000,1.80,...,2026-01-07T23:52:38.523Z,"95 km N of Yakutat, Alaska",earthquake,0.00,3.1881,0.200000,9.0,reviewed,ak,ak
8978,2025-12-10 02:24:19.801,60.397000,-139.432000,0.90,2.20,ml,18.0,70.0,0.50000,0.90,...,2026-01-07T23:49:29.508Z,"96 km N of Yakutat, Alaska",earthquake,0.00,2.4537,0.200000,8.0,reviewed,ak,ak
8979,2025-12-10 02:22:24.461,60.568000,-139.902000,10.80,2.00,ml,14.0,124.0,0.50000,0.70,...,2026-01-07T23:44:49.694Z,"114 km N of Yakutat, Alaska",earthquake,0.00,2.8706,0.100000,8.0,reviewed,ak,ak

In [320]:
dff['time'] = pd.to_datetime(dff['time'], format="%Y-%m-%dT%H:%M:%S.%fZ")
# Endi 'time' ustuni datetime turiga yana qaytadan o'tkazildi

In [322]:
dff.at[0,'time'].month

1

In [323]:
dff.at[0,'time'].weekday()

4

In [327]:
dff['time'].dt.month
# time ustunidagi faqat oylar ajratib olindi

0        1
1        1
2        1
3        1
4        1
        ..
8975    12
8976    12
8977    12
8978    12
8979    12
Name: time, Length: 8980, dtype: int32

In [336]:
dff['month'] = dff['time'].dt.month

In [337]:
dff['month'].value_counts()
# mavjud bo'lgan 2 ta oyni va bu oylarda qancha zil-zilalar bo'lganini ko'ryabmiz

month
12    6758
1     2222
Name: count, dtype: int64

In [338]:
dff['weekday'] = dff['time'].dt.weekday

In [340]:
dff.weekday.value_counts()
# 0 dushanbadan 6 yakshanbagacha raqamlab hisoblanadi.
# shunda eng ko'p zilzilalar 3 yani payshanbaga to'g'ri kelmoqda.

weekday
3    1648
2    1475
4    1366
5    1222
6    1121
1    1120
0    1028
Name: count, dtype: int64

# **new section**
# **yangi jadval misolida**

In [341]:
import pandas as pd
import numpy as np

In [342]:
import datetime as dt

In [343]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/blob/main/global_earthquake.csv?raw=true")
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [345]:
df[['Date','Time']].info()
# Date va Time qarasak obj yani str ko'rinishida

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23409 entries, 0 to 23408
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23409 non-null  object
 1   Time    23409 non-null  object
dtypes: object(2)
memory usage: 365.9+ KB

In [348]:
df[['Date']].head(10)
# Etibor beraylik birinchi kun, oy, yil kelgan
# asosan Amerikada shunday ketma - ketlikda foydalanishadi
# Ammo  O'zbek tilida sanalarni kun-oy-yil tartibida bo'ladi.

         Date
0  01/02/1965
1  01/04/1965
2  01/05/1965
3  01/08/1965
4  01/09/1965
5  01/10/1965
6  01/12/1965
7  01/15/1965
8  01/16/1965
9  01/17/1965

In [349]:
pd.to_datetime(df['Date'], format="%m/%d/%Y")
# Oylarni %m, kunlarni %d, 4 xonali yilni %Y (2 xonali yillar uchun %y) deb ko'rsatamiz.

0       1965-01-02
1       1965-01-04
2       1965-01-05
3       1965-01-08
4       1965-01-09
           ...
23404   2016-12-28
23405   2016-12-28
23406   2016-12-28
23407   2016-12-29
23408   2016-12-30
Name: Date, Length: 23409, dtype: datetime64[ns]

In [350]:
df['datetime'] = pd.to_datetime(df['Date'], format="%m/%d/%Y")
df[['datetime']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23409 entries, 0 to 23408
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  23409 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 183.0 KB

In [351]:
df[['Time']].head()

       Time
0  13:44:18
1  11:29:49
2  18:05:58
3  18:49:43
4  13:32:50

In [352]:
pd.to_datetime(df['Time'], format="%H:%M:%S")

0       1900-01-01 13:44:18
1       1900-01-01 11:29:49
2       1900-01-01 18:05:58
3       1900-01-01 18:49:43
4       1900-01-01 13:32:50
                ...
23404   1900-01-01 08:22:12
23405   1900-01-01 09:13:47
23406   1900-01-01 12:38:51
23407   1900-01-01 22:30:19
23408   1900-01-01 20:08:28
Name: Time, Length: 23409, dtype: datetime64[ns]

In [353]:
pd.to_datetime(df['Time'], format="%H:%M:%S").dt.time

0        13:44:18
1        11:29:49
2        18:05:58
3        18:49:43
4        13:32:50
           ...
23404    08:22:12
23405    09:13:47
23406    12:38:51
23407    22:30:19
23408    20:08:28
Name: Time, Length: 23409, dtype: object

In [354]:
df['Time'] = pd.to_datetime(df['Time'], format="%H:%M:%S").dt.time

In [355]:
df.at[0,'Time']

datetime.time(13, 44, 18)

In [356]:
df.at[0,'Time'].hour

13

In [357]:
df.at[0,'datetime']

Timestamp('1965-01-02 00:00:00')

In [358]:
df['datetime'].dt.month
# oylarni ajratib oldik

0         1
1         1
2         1
3         1
4         1
         ..
23404    12
23405    12
23406    12
23407    12
23408    12
Name: datetime, Length: 23409, dtype: int32

In [360]:
df['Month'] = df['datetime'].dt.month
# saqladik

In [361]:
df['Month'].value_counts()
# Qaysi oyda qancha zilzilalar bo'lganini ko'rishimiz mumkin

Month
3     2113
8     2014
12    2001
11    1987
9     1985
4     1970
5     1964
10    1952
1     1891
7     1880
2     1828
6     1824
Name: count, dtype: int64

In [362]:
df['datetime'].dt.weekday.value_counts()
# zilzilalar qaysi hafta kunlarida qancha sodir bo'lganini ko'rishimiz mumkin
# dushanba = 0, yakshanba = 6 qolganlari ham shu tartibda

datetime
5    3433
2    3431
4    3362
0    3349
3    3306
6    3284
1    3244
Name: count, dtype: int64