<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/1_Series_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science va Sun'iy Intellekt Praktikum**

## Ma'lumotlar tahlili. **Pandas kutubxonasi**

## 2.2 Pandas kutubxonasi bilan tanishuv

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from pandas import Series # series ma'lumotlar tuzilmasi

In [ ]:
obj = Series([4, 5, 6, -6.5])

In [ ]:
type(obj)

pandas.core.series.Series

In [ ]:
print(obj)

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [ ]:
obj.values

array([ 4. ,  5. ,  6. , -6.5])

In [ ]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
obj[3] # Bunda 3 indexsida nima element borligini ko'rishimiz mumkin

np.float64(-6.5)

In [ ]:
obj2=Series([6, 3, 4, 5, 1], index=['a', 'b', 'c', 'd', 'e']) # bu orqali Indexlarni o'zimiz yaratamiz

In [ ]:
obj2

a    6
b    3
c    4
d    5
e    1
dtype: int64

In [ ]:
obj2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
obj2['a'] # O'zimiz yaratgan a indexda 6 raqami turibdi

np.int64(6)

In [ ]:
obj2[['e', 'e', 'a', 'c']]

e    1
e    1
a    6
c    4
dtype: int64

In [ ]:
obj2

a    6
b    3
c    4
d    5
e    1
dtype: int64

In [ ]:
obj2[obj2>3] # taqqoslash amalini bajarayabmiz yani obj2 dagi 3 dan katta elementlarni chop etadi

a    6
c    4
d    5
dtype: int64

In [ ]:
obj2[obj2<3]

e    1
dtype: int64

In [ ]:
obj2*2 # Bunda ko'paytirish amali bajarilmoqda

a    12
b     6
c     8
d    10
e     2
dtype: int64

In [ ]:
np.exp(obj2) # bu bilan expanentasi aniqlanadi

a    403.428793
b     20.085537
c     54.598150
d    148.413159
e      2.718282
dtype: float64