<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/11_Elementlarni_tanlash_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Indekslash, qator (ustun) tanlash, filtrlash**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {"Yil":[2025, 2024, 2023, 2022, 2021, 2020, 2019,2014],
        "Aholi soni":[36.5, 35.4, 35.1, 34.3, 33.1, 32.4, 31.5, 30.8],
        "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
        "Zichlik":[80.23, 79.45, 77.34, 75.13, 73.34, 71.23, 70.23, 68.23]}
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2025        36.5  1.54    80.23
1  2024        35.4  1.48    79.45
2  2023        35.1  1.56    77.34
3  2022        34.3  1.62    75.13
4  2021        33.1  1.65    73.34
5  2020        32.4  1.66    71.23
6  2019        31.5  1.64    70.23
7  2014        30.8  1.53    68.23

In [ ]:
data = df[["Aholi soni"]]
data

   Aholi soni
0        36.5
1        35.4
2        35.1
3        34.3
4        33.1
5        32.4
6        31.5
7        30.8

In [ ]:
type(data) # Ikkita [[]] qavs qilsak DataFrame bo'ladi

pandas.core.frame.DataFrame

In [ ]:
data = df["Aholi soni"]
data

0    36.5
1    35.4
2    35.1
3    34.3
4    33.1
5    32.4
6    31.5
7    30.8
Name: Aholi soni, dtype: float64

In [ ]:
type(data) # Bitta [] qavs qilsak type Series bo'ladi

pandas.core.series.Series

In [ ]:
data

0    36.5
1    35.4
2    35.1
3    34.3
4    33.1
5    32.4
6    31.5
7    30.8
Name: Aholi soni, dtype: float64

In [ ]:
type(data[[6]]) # data dan kelayotgan malumotni yana Series qilib chiqarish uchun 2 ta qavsdan foydalanamiz

pandas.core.series.Series

In [ ]:
data[6] # data dan kelayotgan malumotni son ko'rinishida chiqarish uchun 1 ta qavsdan foydalanamiz

np.float64(31.5)

In [ ]:
data[[6]] # 2 ta qavs Series

6    31.5
Name: Aholi soni, dtype: float64

Bir qavs [] Seriesdan bitta elementni (skalyar) yoki DataFrame'dan bitta ustunni (Series) qaytaradi.
Ikki qavs [[]] Seriesdan bitta elementni (Series) yoki DataFrame'dan bir yoki bir nechta ustunni (DataFrame) qaytaradi. Bu har doim ma'lumot tuzilmasi (Series yoki DataFrame) qaytarishni ta'minlaydi.

In [ ]:
df

    Yil  Aholi soni  Temp  Zichlik
0  2025        36.5  1.54    80.23
1  2024        35.4  1.48    79.45
2  2023        35.1  1.56    77.34
3  2022        34.3  1.62    75.13
4  2021        33.1  1.65    73.34
5  2020        32.4  1.66    71.23
6  2019        31.5  1.64    70.23
7  2014        30.8  1.53    68.23

In [ ]:
data

0    36.5
1    35.4
2    35.1
3    34.3
4    33.1
5    32.4
6    31.5
7    30.8
Name: Aholi soni, dtype: float64

In [ ]:
data[5]

np.float64(32.4)

In [ ]:
data[0:4] # Bu 0 dan 4 gacha chiqaradi

0    36.5
1    35.4
2    35.1
3    34.3
Name: Aholi soni, dtype: float64

In [ ]:
data[[0,1,2,3]] # Bu index bo'yicha chiqarish

0    36.5
1    35.4
2    35.1
3    34.3
Name: Aholi soni, dtype: float64

In [ ]:
obj = pd.Series(np.arange(8.), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [ ]:
obj['b']

np.float64(1.0)

In [ ]:
obj[0:4] # 0 dan 4 qatorgacha chiqaradi

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [ ]:
obj['c':'f'] # c dan f gacha chiqaradi

c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [ ]:
obj[['c','f']] # c va f ni chiqaradi

c    2.0
f    5.0
dtype: float64

In [ ]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [ ]:
obj[[1,5]]

/tmp/ipython-input-619217176.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj[[1,5]]

b    1.0
f    5.0
dtype: float64

In [ ]:
obj['a':'c']=15 # a dan c gacha 15 ga teng qildik

In [ ]:
obj

a    15.0
b    15.0
c    15.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

## **Filtrlash**

In [ ]:
obj[obj<15] # 15 dan kichiklarini chiqaradi

d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [ ]:
obj[obj!=15] # 15 ga teng bo'lmaganlarni chiqaradi

d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [ ]:
obj[obj==15] # 15 ga tenglarni chiqaradi

a    15.0
b    15.0
c    15.0
dtype: float64

In [ ]:
obj[obj>5] # 5 dan kattalarni chiqaradi

a    15.0
b    15.0
c    15.0
g     6.0
h     7.0
dtype: float64