<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/01_and_02_Iyerarxik_indexli_ma'lumotlar_to'plash_stack()__unstck()_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science va Sun'iy Intellekt Praktikum**
## **3-MODUL. MA'LUMOTLARGA ISHLOV BERISH**
## 3.3.1 Multi indekslash

# **Iyerarxik indexli ma'lumotlar to'plash**

## **kerakli kutubxonalarni chaqirib olamiz**

In [141]:
import pandas as pd
import numpy as np

## **Hierarchical indexing - Iyerarxik indekslash**

In [142]:
data = pd.Series(np.random.randn(9),index=['a','a','a','b','b','c','c','d','d']) # odatiy indeksli Series
data

# random bilan 9 ta son va uning indexsiga yuqoridagi harflar qo'yildi

a   -0.158650
a    1.059541
a    0.311835
b    1.035891
b    0.776974
c    1.293717
c   -1.169134
d   -0.636559
d   -0.006636
dtype: float64

In [143]:
data = pd.Series(np.random.randn(9),
                 index=['a','a','a','b','b','c','c','d','d']) # odatiy indeksli Series
data.index

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

In [144]:
data
# data ning indexlari chiqarildi

a   -0.610190
a   -1.186096
a    0.064840
b   -0.162838
b   -0.804343
c    1.346984
c    2.410501
d    0.267858
d   -0.132716
dtype: float64

In [145]:
data1 = pd.Series(np.random.randn(9),
                  index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])  # irarxik indeksli Series
data1

# Bu orqali guruhlab olyabmiz yani raqamlardan 1,2,3 - a guruhiga. 1,3 - b.  1,2 - c. 2,3 - d guruhlariga to'g'ri kelyabdi.
# Yani sonli indexlar irarxik indekslar bilan guruhlanayabdi

a  1   -0.211181
   2   -0.795269
   3    0.505660
b  1    0.822161
   3   -0.470960
c  1   -0.713967
   2   -0.306637
d  2    0.910348
   3    0.313071
dtype: float64

In [146]:
data.index # Bunday holatga indeks deyiladi

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

In [147]:
data1.index  # Bunga esa MultiIndex deyiladi

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [148]:
data1

a  1   -0.211181
   2   -0.795269
   3    0.505660
b  1    0.822161
   3   -0.470960
c  1   -0.713967
   2   -0.306637
d  2    0.910348
   3    0.313071
dtype: float64

In [149]:
data1['a']
# subset bilan ajratib olish
# yani a guruhidagi sonli indexlar qatorini chiqaradi

1   -0.211181
2   -0.795269
3    0.505660
dtype: float64

In [150]:
data1['b':'d']
# Slicing yani kesib olyabdi b dan d gacha bo'lgan qismini ajratib olyabdi

b  1    0.822161
   3   -0.470960
c  1   -0.713967
   2   -0.306637
d  2    0.910348
   3    0.313071
dtype: float64

In [151]:
data1['a':'c']
# a dan c gacha qismi chop etildi

a  1   -0.211181
   2   -0.795269
   3    0.505660
b  1    0.822161
   3   -0.470960
c  1   -0.713967
   2   -0.306637
dtype: float64

In [152]:
data1.loc[:,2]
# indexi 2 bo'lgan qatorni chiqaradi

a   -0.795269
c   -0.306637
d    0.910348
dtype: float64

In [153]:
data1.loc[['b','d']]
# b va d guruhidagi indexlar qatorini chiqaradi

b  1    0.822161
   3   -0.470960
d  2    0.910348
   3    0.313071
dtype: float64

In [154]:
data1.loc[:,1]
# qaysi harfli guruhda 1 indexi bo'lsa shuni chiqaradi.

a   -0.211181
b    0.822161
c   -0.713967
dtype: float64

# **02-dars. .stack() va .unstack() - Datafreymlarga sochish va yig'ish**

unstack

In [155]:
data1

a  1   -0.211181
   2   -0.795269
   3    0.505660
b  1    0.822161
   3   -0.470960
c  1   -0.713967
   2   -0.306637
d  2    0.910348
   3    0.313071
dtype: float64

In [156]:
df1 = data1.unstack()
df1
# Sochilgan Seriesni df ko'rinishida qaytaradi.
# Etibor bersak indekslar column yani ustun bo'lib qoldi.
# Hamda b, c, d dagi bitta kam bo'lgan qiymatlar o'rni NaN bo'lib turibdi

          1         2         3
a -0.211181 -0.795269  0.505660
b  0.822161       NaN -0.470960
c -0.713967 -0.306637       NaN
d       NaN  0.910348  0.313071

In [157]:
data1.unstack().stack()
# stack bilan yana dastlabki holatiga qaytdi

a  1   -0.211181
   2   -0.795269
   3    0.505660
b  1    0.822161
   3   -0.470960
c  1   -0.713967
   2   -0.306637
d  2    0.910348
   3    0.313071
dtype: float64

In [158]:
df1.stack()
# yokida saqlab bu usuldan ham foydalansak bo'ladi

a  1   -0.211181
   2   -0.795269
   3    0.505660
b  1    0.822161
   3   -0.470960
c  1   -0.713967
   2   -0.306637
d  2    0.910348
   3    0.313071
dtype: float64

In [160]:
df1.stack().unstack()

          1         2         3
a -0.211181 -0.795269  0.505660
b  0.822161       NaN -0.470960
c -0.713967 -0.306637       NaN
d       NaN  0.910348  0.313071