<a href="https://colab.research.google.com/github/sherjahong1r/my-data-sayns-lessons/blob/main/03_And_04_Ma'lumot_qatorlari_va_ustunlari_iyerarxik_indekslash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ma'lumotlar to'plami ustida iyerarxik indekslash**

## *Dunyo shaharlarining havo va suv sifati ma'lumotlari ustida amallar bajarish*

In [537]:
import pandas as pd
import numpy as np

In [538]:
url = ('https://github.com/MansurCompAI/Practicum_Datasets')
pd.read_html(url)
# githubdan html formatida o'qish

[                                 Name                              Name.1  \
 0     Latest commit History17 Commits     Latest commit History17 Commits
 1                       GM_Uzbekistan                       GM_Uzbekistan
 2                           Happiness                           Happiness
 3                                IMDb                                IMDb
 4                           README.md                           README.md
 5                            bank.csv                            bank.csv
 6                      data_pivot.csv                      data_pivot.csv
 7  world_cities_air_water_quality.csv  world_cities_air_water_quality.csv
 8                      View all files                      View all files

                                Name.2  Last commit message  Last commit date
 0     Latest commit History17 Commits                  NaN               NaN
 1                       GM_Uzbekistan                  NaN               NaN
 2                           Happiness                  NaN               NaN
 3                                IMDb                  NaN               NaN
 4                           README.md                  NaN               NaN
 5                            bank.csv                  NaN               NaN
 6                      data_pivot.csv                  NaN               NaN
 7  world_cities_air_water_quality.csv                  NaN               NaN
 8                      View all files                  NaN               NaN  ]

In [539]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git
# git clone bilan kaggle dan o'qish

fatal: destination path 'Practicum_Datasets' already exists and is not an empty directory.

In [540]:
df = pd.read_csv("/content/Practicum_Datasets/world_cities_air_water_quality.csv")
df
# Bu yerdagi silkani !git clone qilganimizdan so'ng chap tomondagi fayylarda
# world_cities_air_water_qualification kabi bir nechta fayllar chiqib turadi uning ustiga o'ng tugmani
# bosib copy path qilsak silkasi copy bo'ladi

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [541]:
df1 = pd.read_csv("/content/Practicum_Datasets/bank.csv")
df1
# Huddi shunday qolgan fayllarni ham yuklab olishimiz mumkin

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [542]:
df

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [543]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3963 entries, 0 to 3962
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3963 non-null   object
 1    "Region"          3963 non-null   object
 2    "Country"         3963 non-null   object
 3    "AirQuality"      3963 non-null   float64
 4    "WaterPollution"  3963 non-null   float64
dtypes: float64(2), object(3)
memory usage: 154.9+ KB

In [544]:
columns = ['City', 'Region', 'Country', 'AirQuality', 'WaterPollution']
df.columns = columns
df
# Etibor bersak City dan tashqari qolgan ustunlar qo'shtirnoq ichida edi
# uni to'g'irlash uchun hammasiga qaytadan nom berdik

,City,Region,Country,AirQuality,WaterPollution
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [545]:
# Yuqoridagi jadvalga etibor bersak Region ustunidagi qatorlar qo'shtirnoq ichiga yozilgan
df['Region'] = df['Region'].map(lambda x: x.replace('"', ''))
df
# Buni yo'q qilish uchun .map bilan yani u ma'lumotlarni tozalash, formatlash uchun  Pandas DataFrame ustunidagi
# (Series obyekti) har bir elementga biror funksiyani qo'llash uchun ishlatiladi.
# map ichida lambda bilan hamma qiymatlarni x qiladi va uni yani bu x qiymatlarni x.replace yani almashtirish degani
# u bilan bir qo'sh tirnoq ichidagi qo'shtirnoqli qatorlar degani va uni almashtiradi verguldan keyingi natijaga yani
# u bir tirnoq ichida hech narsa bo'lmagani uchun qo'shtirnoqlarni tashlab yuboradi qiymatlardan.

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,"""United States of America""",46.816038,49.504950
1,"Washington, D.C.",District of Columbia,"""United States of America""",66.129032,49.107143
2,San Francisco,California,"""United States of America""",60.514019,43.000000
3,Berlin,,"""Germany""",62.364130,28.612717
4,Los Angeles,California,"""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,"""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,Andalusia,"""Spain""",85.714286,8.333333
3960,Vic,Catalonia,"""Spain""",100.000000,0.000000
3961,Segovia,Castile and Leon,"""Spain""",100.000000,0.000000
3962,Zamora city,Castile and Leon,"""Spain""",100.000000,50.000000

In [546]:
df['Country'] = df['Country'].map(lambda x: x.replace('"', ''))
df
# Endi Country ustunidan ham qo'sh tirnoqlarni olib tashladik

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [547]:
df.to_csv("Updated_dataset.csv", index=False)
# index=False bu yana o'qiyotganda index ustuni qo'shilishini oldini oladi.
# buni yuqoridagi ayrim tahrirlash bilan yana saqlab oldik Updated_dataset.csv degan nom bilan

In [548]:
df2 = pd.read_csv('/content/Updated_dataset.csv')
df2
# yuqoridagi saqlab olgan Updated_dataset.csv ni copy path orqali olgan url bilan yana o'qib df2 ga saqladik

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [549]:
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [550]:
df['Country'][2]

' United States of America'

In [551]:
df[df['Country']=='Germany']
# Bunda Germaniyani chiqarmadi chunki Germaniyadan oldin space yani bo'shliq bor

Empty DataFrame
Columns: [City, Region, Country, AirQuality, WaterPollution]
Index: []

In [552]:
df[df['Country']==' Germany']
# Bunda space qilganimiz uchun chiqardi

,City,Region,Country,AirQuality,WaterPollution
3,Berlin,,Germany,62.364130,28.612717
28,Cologne,North Rhine-Westphalia,Germany,60.714286,27.777778
40,Bonn,North Rhine-Westphalia,Germany,82.812500,22.500000
52,Heilbronn,Baden-Wurttemberg,Germany,80.000000,0.000000
76,Aachen,North Rhine-Westphalia,Germany,70.454545,17.857143
...,...,...,...,...,...
2693,Bad Waldsee,Baden-Wurttemberg,Germany,100.000000,50.000000
2714,Weilheim in Oberbayern,Bavaria,Germany,100.000000,50.000000
2727,Buckow,Brandenburg,Germany,87.500000,50.000000
3942,Erfurt,Thuringia,Germany,85.000000,50.000000
3943,Garmisch-Partenkirchen,Bavaria,Germany,100.000000,50.000000

In [553]:
df['Country'] = df2['Country'].map(lambda x: x.strip())
df
# Bu bilan yani .strip() bilan davlatlar oldidagi bo'shliqlarni olib tashladik

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [554]:
df2[df['Country']=='Germany']
# bo'shliqlarni olganimiz Natijasi

,City,Region,Country,AirQuality,WaterPollution
3,Berlin,,Germany,62.364130,28.612717
28,Cologne,North Rhine-Westphalia,Germany,60.714286,27.777778
40,Bonn,North Rhine-Westphalia,Germany,82.812500,22.500000
52,Heilbronn,Baden-Wurttemberg,Germany,80.000000,0.000000
76,Aachen,North Rhine-Westphalia,Germany,70.454545,17.857143
...,...,...,...,...,...
2693,Bad Waldsee,Baden-Wurttemberg,Germany,100.000000,50.000000
2714,Weilheim in Oberbayern,Bavaria,Germany,100.000000,50.000000
2727,Buckow,Brandenburg,Germany,87.500000,50.000000
3942,Erfurt,Thuringia,Germany,85.000000,50.000000
3943,Garmisch-Partenkirchen,Bavaria,Germany,100.000000,50.000000

In [555]:
df[df['Country']=='Uzbekistan']

        City Region     Country  AirQuality  WaterPollution
21  Tashkent         Uzbekistan   56.451613       49.166667

## pivot_table orqali irarxik indekslash

In [556]:
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [557]:
df.index
# Bular tartibli oddiy indexlar

RangeIndex(start=0, stop=3963, step=1)

In [558]:
# Yuqoridagi jadvalga etibor bersak bir davlatlar ko'p takrorlangan uning shaharlari ko'p bo'lhanligi uchun
# endi bunda davlatlarni irarxik yani index guruhi qilib qo'yamiz pivot_table yordamida

df3 = pd.pivot_table(df, index=['Country', 'City'], values=['AirQuality', 'WaterPollution'], aggfunc='mean')
df3

# Country (davlat) asosiy indeks bo'lib, uning ichida City (shahar) ikkilamchi indeks bo'ladi. Bu iyerarxik indekslashni (multi-index) hosil qiladi,
# ya'ni har bir davlat ostida uning shaharlari guruhlanadi. values=['AirQuality', 'WaterPollution']: Bu parametr qaysi ustunlardagi
# ma'lumotlar jamlanishini (aggregate) ko'rsatadi. aggfunc='mean': Bu parametr values da ko'rsatilgan ustunlarga qanday jamlash (aggregation)
# funksiyasi qo'llanilishini aniqlaydi.  qiymatlarining o'rtacha (mean) miqdorini hisoblaydi.

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [559]:
df3

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [560]:
df3.index
# Bu esa MultiIndex yani irarxik

MultiIndex([('Afghanistan',        'Andkhoy'),
            ('Afghanistan',          'Farah'),
            ('Afghanistan',          'Herat'),
            ('Afghanistan',          'Kabul'),
            ('Afghanistan',       'Kandahar'),
            ('Afghanistan', 'Mazar-i-Sharif'),
            (    'Albania',         'Ballsh'),
            (    'Albania',         'Burrel'),
            (    'Albania',         'Durres'),
            (    'Albania',        'Elbasan'),
            ...
            (      'Yemen',          'Sanaa'),
            (      'Yemen',         'Ta'izz'),
            (     'Zambia',       'Chingola'),
            (     'Zambia',          'Kitwe'),
            (     'Zambia',         'Lusaka'),
            (     'Zambia',          'Mansa'),
            (   'Zimbabwe',        'Bindura'),
            (   'Zimbabwe',       'Bulawayo'),
            (   'Zimbabwe',         'Harare'),
            (   'Zimbabwe',       'Masvingo')],
           names=['Country', 'City'], length=3895)

In [561]:
df3.loc[['Uzbekistan', 'Tajikistan', 'Germany']]

                          AirQuality  WaterPollution
Country    City
Uzbekistan Tashkent        56.451613       49.166667
Tajikistan Dushanbe        41.666667       61.111111
Germany    Aachen          70.454545       17.857143
           Aalen           87.500000       50.000000
           Abensberg      100.000000       50.000000
...                              ...             ...
           Wilhelmshaven  100.000000       50.000000
           Wolfsburg       96.875000        0.000000
           Worms           60.000000      100.000000
           Wuppertal       90.000000        0.000000
           Zwickau         75.000000       50.000000

[126 rows x 2 columns]

# **04-dars**

# **Iyerarxik ustunli ma'lumotlar to'plami**

In [562]:
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [563]:
df2

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [564]:
df3

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [565]:
df3.loc[['Uzbekistan', 'Tajikistan', 'Germany']]

                          AirQuality  WaterPollution
Country    City
Uzbekistan Tashkent        56.451613       49.166667
Tajikistan Dushanbe        41.666667       61.111111
Germany    Aachen          70.454545       17.857143
           Aalen           87.500000       50.000000
           Abensberg      100.000000       50.000000
...                              ...             ...
           Wilhelmshaven  100.000000       50.000000
           Wolfsburg       96.875000        0.000000
           Worms           60.000000      100.000000
           Wuppertal       90.000000        0.000000
           Zwickau         75.000000       50.000000

[126 rows x 2 columns]

In [566]:
# df3 = df2.copy()
# copy qilib oldik yani df2 ham df3 ham bir hil bo'ladi

In [567]:
# df3

In [568]:
df3['AirPollution'] = 100-df3['AirQuality']
df3
# AirPollutionga saqlanayabdi 100 dan ayrilgan df3 AirQuality qiymatlari

# bu iyerarxik qilgan jadvalimiz bo'lib
# Country - mamlakatlar, city - shaharlar.
# AirQuality - havo sifati bo'lsa, AirPollution - havo ifloslanishi hisoblanadi va shu ustunni hozir yaratdik
# Misol uchun Afganistanning Herat shahrida havo sifati 43.75 bo'lsa, ifloslanishi 56.25 yani 100 % lik meyordan olingan
# va ikkalasining yig'indisi 100 bo'ladi.
# WaterPollution esa suv ifloslanishi.

                      AirQuality  WaterPollution  AirPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000
            Farah     100.000000        0.000000      0.000000
            Herat      43.750000       31.250000     56.250000
            Kabul      18.421053       81.060606     81.578947
            Kandahar    0.000000       75.000000    100.000000
...                          ...             ...           ...
Zambia      Mansa      75.000000       25.000000     25.000000
Zimbabwe    Bindura    50.000000       75.000000     50.000000
            Bulawayo   67.857143       71.428571     32.142857
            Harare     38.461538       87.500000     61.538462
            Masvingo   25.000000       62.500000     75.000000

[3895 rows x 3 columns]

In [569]:
df3['WaterQuality'] = 100-df3['WaterPollution']
df3
# Endi huudi yana shunday WaterQuality jadval ustuni qo'shildi

                      AirQuality  WaterPollution  AirPollution  WaterQuality
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000     50.000000
            Farah     100.000000        0.000000      0.000000    100.000000
            Herat      43.750000       31.250000     56.250000     68.750000
            Kabul      18.421053       81.060606     81.578947     18.939394
            Kandahar    0.000000       75.000000    100.000000     25.000000
...                          ...             ...           ...           ...
Zambia      Mansa      75.000000       25.000000     25.000000     75.000000
Zimbabwe    Bindura    50.000000       75.000000     50.000000     25.000000
            Bulawayo   67.857143       71.428571     32.142857     28.571429
            Harare     38.461538       87.500000     61.538462     12.500000
            Masvingo   25.000000       62.500000     75.000000     37.500000

[3895 rows x 4 columns]

In [570]:
df3 = pd.DataFrame(df3.values, index = df3.index, columns= [['AIR','AIR','WATER','WATER'], ['AirQuality','AirPollution','WaterQuality','WaterPollution']])
df3
# Bunda ustunlarni iyerarxik ko'rinishga o'tkazdik

                             AIR                     WATER
                      AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [571]:
df3['AIR']

                      AirQuality  AirPollution
Country     City
Afghanistan Andkhoy    50.000000     50.000000
            Farah     100.000000      0.000000
            Herat      43.750000     31.250000
            Kabul      18.421053     81.060606
            Kandahar    0.000000     75.000000
...                          ...           ...
Zambia      Mansa      75.000000     25.000000
Zimbabwe    Bindura    50.000000     75.000000
            Bulawayo   67.857143     71.428571
            Harare     38.461538     87.500000
            Masvingo   25.000000     62.500000

[3895 rows x 2 columns]

In [572]:
df3["WATER"]

                      WaterQuality  WaterPollution
Country     City
Afghanistan Andkhoy      50.000000       50.000000
            Farah         0.000000      100.000000
            Herat        56.250000       68.750000
            Kabul        81.578947       18.939394
            Kandahar    100.000000       25.000000
...                            ...             ...
Zambia      Mansa        25.000000       75.000000
Zimbabwe    Bindura      50.000000       25.000000
            Bulawayo     32.142857       28.571429
            Harare       61.538462       12.500000
            Masvingo     75.000000       37.500000

[3895 rows x 2 columns]

In [573]:
df3

                             AIR                     WATER
                      AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [574]:
df3.columns.names = ['Object','Info']
df3
# Iyerarxik ustunlarga nom berish

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [575]:
display(df3['AIR'])

Info                  AirQuality  AirPollution
Country     City
Afghanistan Andkhoy    50.000000     50.000000
            Farah     100.000000      0.000000
            Herat      43.750000     31.250000
            Kabul      18.421053     81.060606
            Kandahar    0.000000     75.000000
...                          ...           ...
Zambia      Mansa      75.000000     25.000000
Zimbabwe    Bindura    50.000000     75.000000
            Bulawayo   67.857143     71.428571
            Harare     38.461538     87.500000
            Masvingo   25.000000     62.500000

[3895 rows x 2 columns]

In [576]:
display(df3[('AIR', 'AirQuality')])

Country      City
Afghanistan  Andkhoy      50.000000
             Farah       100.000000
             Herat        43.750000
             Kabul        18.421053
             Kandahar      0.000000
                            ...
Zambia       Mansa        75.000000
Zimbabwe     Bindura      50.000000
             Bulawayo     67.857143
             Harare       38.461538
             Masvingo     25.000000
Name: (AIR, AirQuality), Length: 3895, dtype: float64

In [577]:
df3.index.names
# country va city indexlar nomi

FrozenList(['Country', 'City'])

In [578]:
df3.columns.names
# Object va Info columnlar nomi

FrozenList(['Object', 'Info'])

In [579]:
df3

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [580]:
df3.loc[['Uzbekistan', 'Tajikistan']]

Object                     AIR                     WATER
Info                AirQuality AirPollution WaterQuality WaterPollution
Country    City
Uzbekistan Tashkent  56.451613    49.166667    43.548387      50.833333
Tajikistan Dushanbe  41.666667    61.111111    58.333333      38.888889

In [581]:
display(df3.loc[['Uzbekistan', 'Germany'], 'AIR'])
# Ham ustun ham qatordan belgilab chiqarish

Info                      AirQuality  AirPollution
Country    City
Uzbekistan Tashkent        56.451613     49.166667
Germany    Aachen          70.454545     17.857143
           Aalen           87.500000     50.000000
           Abensberg      100.000000     50.000000
           Amberg         100.000000     50.000000
...                              ...           ...
           Wilhelmshaven  100.000000     50.000000
           Wolfsburg       96.875000      0.000000
           Worms           60.000000    100.000000
           Wuppertal       90.000000      0.000000
           Zwickau         75.000000     50.000000

[125 rows x 2 columns]

In [582]:
display(df3.loc[['Germany'], ('AIR', 'AirQuality')])

Country  City
Germany  Aachen                70.454545
         Aalen                 87.500000
         Abensberg            100.000000
         Amberg               100.000000
         Annaberg-Buchholz     87.500000
                                 ...
         Wilhelmshaven        100.000000
         Wolfsburg             96.875000
         Worms                 60.000000
         Wuppertal             90.000000
         Zwickau               75.000000
Name: (AIR, AirQuality), Length: 124, dtype: float64